
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .promote_img{
        max-width:100%;
    }
    #title{
        margin-top:20px;
        color:#9D3BC6;
        
    }
    #promotionList{
        overflow:hidden;
        border-top:3px solid #9D3BC6;
        border-top-color:#9D3BC6;
        display:block;
        margin:0 auto;
        width:95%;
        position:relative;
    }
    .promo_item {
        padding: 8px;
        display: block;
        margin: 0 auto;
        float: left;
        width:47%;
    }

    .img_box img{
        -webkit-transition: 0.4s ease;
        transition: 0.4s ease;
    }

    .promo_item:hover .img_box img{
        -webkit-transform: scale(1.08);
        transform: scale(1.08);
    }
</style>

<div class="container">
    <section id="content">
        <div id="title">
            <h2>
                <i class="fa fa-tag" aria-hidden="true"></i>
                <span style="font-family:VNOswald;">CHƯƠNG TRÌNH KHUYẾN MÃI</span>
            </h2>
        </div>
        <div style="width:100%;overflow:hidden;">
            <div id="promotionList">
                <div class="promo_item">
                    <a href="http://tiki.vn/lp/60-nam-pigeon">
                        <div class="img_box">
                            <img class="promote_img" src="https://vcdn.tikicdn.com/media/upload/landingpage/banners/75402ecb63d46f057245ed5d2aa3f7b1.jpg"
                                 alt="Kỉ Niệm 60 Năm Pigeon | Giá Chỉ Từ 6K [CLICK NGAY]"
                                 title="Kỉ Niệm 60 Năm Pigeon | Giá Chỉ Từ 6K [CLICK NGAY]" />
                        </div>
                    </a>
                </div>
                <div class="promo_item">
                    <a href="http://tiki.vn/lp/60-nam-pigeon">
                        <div class="img_box">
                            <img class="promote_img" src="https://vcdn.tikicdn.com/media/upload/landingpage/banners/75402ecb63d46f057245ed5d2aa3f7b1.jpg"
                                 alt="Kỉ Niệm 60 Năm Pigeon | Giá Chỉ Từ 6K [CLICK NGAY]"
                                 title="Kỉ Niệm 60 Năm Pigeon | Giá Chỉ Từ 6K [CLICK NGAY]" />
                        </div>
                    </a>
                </div>
                <div class="promo_item">
                    <a href="http://tiki.vn/lp/60-nam-pigeon">
                        <div class="img_box">
                            <img class="promote_img" src="https://vcdn.tikicdn.com/media/upload/landingpage/banners/75402ecb63d46f057245ed5d2aa3f7b1.jpg"
                                 alt="Kỉ Niệm 60 Năm Pigeon | Giá Chỉ Từ 6K [CLICK NGAY]"
                                 title="Kỉ Niệm 60 Năm Pigeon | Giá Chỉ Từ 6K [CLICK NGAY]" />
                        </div>
                    </a>
                </div>
                <div class="promo_item">
                    <a href="http://tiki.vn/lp/60-nam-pigeon">
                        <div class="img_box">
                            <img class="promote_img" src="https://vcdn.tikicdn.com/media/upload/landingpage/banners/75402ecb63d46f057245ed5d2aa3f7b1.jpg"
                                 alt="Kỉ Niệm 60 Năm Pigeon | Giá Chỉ Từ 6K [CLICK NGAY]"
                                 title="Kỉ Niệm 60 Năm Pigeon | Giá Chỉ Từ 6K [CLICK NGAY]" />
                        </div>
                    </a>
                </div>
            </div>
        </div>
        
    </section>
</div>

