
@{
    ViewBag.Title = "Trung tâm hỗ trợ khách hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <section id="content">
        <h2 style="font-family:VNOswald; margin-top:20px; line-height:normal;">Trung tâm hỗ trợ khách hàng</h2>

        <ul>
            <li>
                <h4 style="font-family:VNOswald;"><i class="icon-truck"></i><a href="/HelpCenter/Quytacgiaohang" style="color:#f4570e;">Quy tắc giao hàng</a><br /></h4>
            </li>
            <li>
                <h4 style="font-family:VNOswald; color:#f4570e;"><i class="icon-shop"></i><a href="/HelpCenter/Quytactrahang" style="color:#f4570e;">Quy tắc trả hàng</a></h4>
            </li>
        </ul>
        
        
        <br /><br />
        <div>
            <p>Your Fashion hooạt động với phương châm <strong>Your personality - Our Product</strong></p>
            <p>Chúng tôi cam kết mang lại sự thoải mái và hài lòng nhất cho khách hàng để bạn có thể thể hiện cá tính và đẳng cấp qua với các sản phẩm của Your</p>
            <p>Nếu có bất cứ thắc mắc hay góp ý nào, xin bạn hãy cứ mạnh dạn góp ý đế giúp Your có thể được phục vụ bạn tốt hơn</p>
            <p>Your Fashion chân thành cảm ơn các khách hàng đã ủng hộ trong thời gian qua, hi vọng trong tương lai, Your sẽ vẫn nhận được sự quan tâm từ phía khách hàng. Trở thành địa điểm tin cậy trong tâm trí người tiêu dùng.</p>
        </div>
    </section>
</div>


