
@{
    ViewBag.Title = "Trung tâm hỗ trợ khách hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/w3.css">

<style>
    .help {
        display: normal;
    }
</style>

<div class="container">
    <section id="content">

        <nav class="w3-sidenav w3-transparent w3-card-2" style="width:230px">
            <h4><strong><a>Trung tâm hỗ trợ</a></strong></h4>
            <a href="~/HelpCenter/Quytacgiaohang" id="st" class="tablink"> Quy tắc giao hàng</a>
            <a href="~/HelpCenter/Quytactrahang" class="tablink"> Quy tắc trả hàng</a>
        </nav>

        <div style="margin-left:230px">
            <div id="Quytactrahang" class="w3-container help w3-animate-left">
                <p>Your Fashion hooạt động với phương châm <strong>Your personality - Our Product</strong></p>
                <p>Chúng tôi cam kết mang lại sự thoải mái và hài lòng nhất cho khách hàng để bạn có thể thể hiện cá tính và đẳng cấp qua với các sản phẩm của Your</p>
                <p>Nếu có bất cứ thắc mắc hay góp ý nào, xin bạn hãy cứ mạnh dạn góp ý đế giúp Your có thể được phục vụ bạn tốt hơn</p>
                <p>Your Fashion chân thành cảm ơn các khách hàng đã ủng hộ trong thời gian qua, hi vọng trong tương lai, Your sẽ vẫn nhận được sự quan tâm từ phía khách hàng. Trở thành địa điểm tin cậy trong tâm trí người tiêu dùng.</p>
                <img src="~/Content/SiteImages/logo.png" width="300" style="display:block; margin:auto;"/>
            </div>
        </div>

        <script>
            function openHelp(evt, cityName) {
                var i, x, tablinks;
                x = document.getElementsByClassName("help");
                for (i = 0; i < x.length; i++) {
                    x[i].style.display = "none";
                }
                tablinks = document.getElementsByClassName("tablink");
                for (i = 0; i < x.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" w3-deep-orange", "");
                }
                document.getElementById(cityName).style.display = "block";
                evt.currentTarget.className += " w3-deep-orange";
            }
        </script>

    </section>
</div>

