
@{
    ViewBag.Title = "Quy tắc trả hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <section id="content">
        <h2 style="font-family:VNOswald; margin-top:20px; line-height:normal;">Trung tâm hỗ trợ - Hướng dẫn trả hàng</h2>
        <a href="/HelpCenter" style="color:#f4570e; float:right;"><i class="icon-left-1"></i> Quay lại</a><br /><br />

        <div id="Thoigiankhieunai">
            <h3 style="font-family:VNOswald;">Thời gian khiếu nại</h3>
            <p>Nếu sản phẩm quý khách nhận được không đúng với cam kết trên, quý khách vui lòng thông báo ngay cho YOUR trong vòng 48 giờ kể từ thời điểm nhận hàng. YOUR xin từ chối hỗ trợ mọi khiếu nại về tình trạng ngoại quan của sản phẩm trong trường hợp quý khách thông báo cho YOUR sau thời gian này.</p>
            <p>Tùy theo chính sách đổi trả mà nhà bán hàng áp dụng, các sản phẩm không đạt yêu cầu nói trên sẽ có thời gian thực hiện việc đổi trả trong vòng 07 hoặc 14 ngày kể từ ngày nhận hàng.</p>
        </div>

        <div id="Dieukientra">
            <h3 style="font-family:VNOswald;">Điều kiện đổi trả</h3>
            <p>Sản phẩm quý khách yêu cầu đổi trả phải được kiểm tra chất lượng. YOUR sẽ đổi sản phẩm mới hoặc hoàn trả toàn bộ giá trị mà khách hàng đã thanh toán cho sản phẩm này nếu sản phẩm đáp ứng các điều kiện đổi trả theo quy định.</p>

            <table style="border:2px solid;">
                <tbody>
                    <tr align="center" valign="middle">
                        <td rowspan="2" style="border-right:1px solid;" align="center"><strong>Lý do đổi/ trả hàng</strong></td>
                        <td colspan="5" style="border-bottom:1px solid;"><strong style="color:#F00;">Điều kiện đổi trả hàng</strong></td>
                    </tr>
                    <tr align="center">
                        <td style="border-left:1px solid;"><strong>Còn mới</strong></td>
                        <td style="border-left:1px solid;"><strong>Còn niêm phong</strong></td>
                        <td style="border-left:1px solid;"><strong>Còn đầy đủ phụ kiện, quà tặng, bao bì, phiếu bảo hành</strong></td>
                        <td style="border-left:1px solid;"><strong>Còn nguyên vẹn</strong></td>
                        <td style="border-left:1px solid;"><strong>Còn tem mạc</strong></td>
                    </tr>
                    <tr><td></td></tr>
                    <tr align="center" style="border:1px solid;">
                        <td align="left" style="border-right:1px solid;">Bể vỡ</td>
                        <td>x</td>
                        <td>x</td>
                        <td>✓</td>
                        <td>x</td>
                        <td>✓</td>
                    </tr>
                    <tr align="center" style="border:1px solid;">
                        <td align="left" style="border-right:1px solid;">Lỗi kỉ thuật</td>
                        <td>x</td>
                        <td>x</td>
                        <td>✓</td>
                        <td>✓</td>
                        <td>✓</td>
                    </tr>
                    <tr align="center" style="border:1px solid;">
                        <td align="left" style="border-right:1px solid;">Không vừa (hàng Thời trang)</td>
                        <td>✓</td>
                        <td>x</td>
                        <td>✓</td>
                        <td>✓</td>
                        <td>✓</td>
                    </tr>
                    <tr><td></td></tr>
                    <tr align="center" style="border:1px solid;">
                        <td align="left" style="border-right:1px solid;">Giao sai hàng</td>
                        <td>✓</td>
                        <td>x</td>
                        <td>✓</td>
                        <td>✓</td>
                        <td>✓</td>
                    </tr>
                    <tr align="center" style="border:1px solid;">
                        <td align="left" style="border-right:1px solid;">Giao thiếu hàng</td>
                        <td>✓</td>
                        <td>x</td>
                        <td>x</td>
                        <td>✓</td>
                        <td>✓</td>
                    </tr>
                    <tr><td></td></tr>
                    <tr align="center" style="border:1px solid;">
                        <td align="left" style="border-right:1px solid;"> Nghi ngờ sản phẩm hoặc linh kiện không chính hãng</td>
                        <td>x</td>
                        <td>x</td>
                        <td>✓</td>
                        <td>✓</td>
                        <td>✓</td>
                    </tr>
                    <tr align="center" style="border:1px solid;">
                        <td align="left" style="border-right:1px solid;"> Hàng đã qua sử dụng/Hàng dựng/Hàng tân trang</td>
                        <td>x</td>
                        <td>x</td>
                        <td>✓</td>
                        <td>✓</td>
                        <td>✓</td>
                    </tr>
                </tbody>
            </table>

            <p style="color:#F00;"><strong>x : Không Cần Thiết | ✓: Cần Thiết </strong></p>

            <a href="/HelpCenter" style="color:#f4570e; float:right;"><i class="icon-left-1"></i> Quay lại</a>
            <br /><br />
        </div>
    </section>
</div>




