
@{
    ViewBag.Title = "Quản lí Category";
    List<Category> categoryList = ViewBag.categoryList;
    List<Category> categoryNoPreList = ViewBag.categoryNoPreList;
}

<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <table border="1">
                    <tr>
                        <th>Category Name</th>
                        <th>Edit</th>
                        <th>Delete</th>
                        <th></th>
                    </tr>
                    @{ foreach (var item in categoryNoPreList)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td><button type="button">Edit</button></td>
                                <td><button type="button">Delete</button></td>
                                <td>
                                    <table border="1">
                                        @{ foreach (var item2 in categoryList)
                                            {
                                                if (item2.PreCateID == item.ID)
                                                {
                                                <tr>
                                                    <td>@item2.Name</td>
                                                    <td><button type="button">Edit</button></td>
                                                    <td><button type="button">Delete</button></td>
                                                </tr>
                                                }
                                            }
                                        <tr>

                                        </tr>
                                        }
                                    </table>
                                </td>
                            </tr>
                        }}
                    
                </table>
                @{

                    foreach (var item in categoryNoPreList)
                    {
                        <label>@item.Name</label>
                        foreach (var item2 in categoryList)
                        {
                            if (item2.PreCateID == item.ID)
                            {
                                <label>@item2.Name</label>

                                }
                            }
                        }
                    }
            </div>
            <div class="col-md-8">
                nay thi col 8
            </div>
        </div>
    </div>

</section>
