
@{
    ViewBag.Title = "Đặt hàng thành công";
}


<div class="container">
    <div style="text-align:center; margin-top:50px;">
        <h2 style="font-family:VNOswald;">Đơn hàng của quý khách đã được ghi nhận.</h2>
        <h2 style="font-family:VNOswald;">Chúng tôi sẽ gọi tới quý khách để xác nhận đơn hàng một cách sớm nhất.</h2>
        <h2 style="font-family:VNOswald;">Cám ơn quý khách đã mua hàng tại Your Fashion!</h2>
    </div>
</div>
