@{
    ViewBag.Title = "Về chúng tôi";
}
@*<h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>*@

<section class="shop">
    <div class="container">

        <!--Page title.start-->
        <div class="row">
            <div class="span9">
                <div>
                    <!--Page name.start-->
                    <h2 class="title" style="color:#ff9616; margin-top:20px">
                        <strong><span style="font-family:VNOswald;">@ViewBag.Title</span></strong>
                    </h2>
                    <!--Page name.end-->
                </div>
            </div>
        </div>
        <!--Page title.end-->
        <!--Gioi thieu.start-->
        <div class="row">
            <div class="animate scale span6">

                <div class="wpb_raw_code  ">
                    <div class="wpb_wrapper">
                        <h3 style="font-family:VNOswald"><i class="icon-vcard"></i>VỀ <span style="color:#f4570e;">YOUR</span>FASHION</h3>
                        <div class="cleancode">
                            <p><strong>Đẹp trong từng khoảnh khắc. </strong>Your quyết tâm trở thành thương hiệu hàng đầu về sản xuất và kinh doanh thời trang, đồng phục tại Việt Nam.</p>
                            <p>
                                Your mong muốn đem đến cho cộng đồng những điều tốt đẹp qua các sản phẩm thời trang chất lượng và hợp xu hướng, qua đó tạo ra và nâng cao giá trị bền vững cho khách hàng và cộng đồng.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="animate scale span6">
                <h3 style="font-family:VNOswald;"><i class="icon-twitter-bird"></i>Thông điệp</h3>
                <p>
                    Với khát vọng đem đến cho cộng đồng những điều tốt đẹp, Your ra đời mang theo những đam mê và hoài bão lớn lao để phục vụ khách hàng.
                    Thời trang Your luôn bắt kịp xu hướng và quan trọng nhất, chúng tôi cam kết đáp ứng chất lượng phù hợp với từng khách hàng theo phương châm <strong>"Your personality - Our product".</strong>
                    Chúng tôi tự đặt cho mình sứ mệnh đồng hành với tất cả doanh nghiệp và mỗi cá nhân để tạo ra và nâng cao giá trị bền vững cho khách hàng. Hãy cùng Your sáng tạo cho cuộc sống!
                </p>
            </div>
        </div>
        <!--Gioi thieu.end-->
        <!--About.start-->
        <div class="row">
            <div class="animate scale span6">

                <div class="wpb_raw_code  ">
                    <div class="wpb_wrapper">
                        <h3 style="font-family:VNOswald"><i class="icon-home"></i>Vị trí cửa hàng</h3>
                        <div class="cleancode">
                            <div class="wpb_gmaps_widget wpb_content_element">

                                <div class="wpb_map_wraper">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.6191527369365!2d106.68523271537785!3d10.763806562368442!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f19e6835f8d%3A0x2f7f4fc8515e8a7f!2zMjcxIE5ndXnhu4VuIFRyw6NpLCBOZ3V54buFbiBDxrAgVHJpbmgsIFF14bqtbiAxLCBI4buTIENow60gTWluaCwgVmlldG5hbQ!5e0!3m2!1sen!2s!4v1471704901848" width="600" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="animate scale span6">
                <div class="row">
                    <div class="animate scale span3">
                        <h3><i class="icon-facebook"></i>FACEBOOK</h3>
                        <div class="fb-page" data-href="https://www.facebook.com/yourfashionsp" data-tabs="timeline" data-width="280" data-height="200" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                            <blockquote cite="https://www.facebook.com/yourfashionsp" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/yourfashionsp">YOUR Fashion</a></blockquote>
                        </div>
                        <div class="">


                        </div>
                    </div>
                    <div class="animate scale span3">
                        <div class="wpb_raw_code  ">
                            <div class="wpb_wrapper">
                                <h3 style="font-family:VNOswald"><i class="icon-mail"></i>Liên hệ với chúng tôi</h3>
                                <div class="cleancode">
                                    <ul class="icons">
                                        <li>
                                            <i class="icon-call"></i><strong>Điện thoại:</strong><br>
                                            0989144981
                                        </li>
                                        <li>
                                            <i class="icon-mail-1"></i><strong>E-MAIL:</strong><br>
                                            <a href="">SALE@YOURFASHION.VN</a>
                                        </li>
                                        <li>
                                            <i class="icon-basket"></i><strong>Địa chỉ</strong><br>
                                            VĂN PHÒNG: 41 LÊ VĂN HUÂN, PHƯỜNG 3, Q. TÂN BÌNH, TPHCM<br />
                                            CỬA HÀNG: 271 NGUYỄN TRÃI, QUẬN 1, TP HCM
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="animate scale span6" style="margin-top:10px;">

                        <div class="wpb_raw_code  ">
                            <div class="wpb_wrapper">
                                <h3 style="font-family:VNOswald"><i class="icon-home"></i>Địa chỉ công ty</h3>
                                <div class="cleancode">
                                    <div class="wpb_gmaps_widget wpb_content_element">

                                        <div class="wpb_map_wraper">
                                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d489.8878373183341!2d106.641054246459!3d10.803445879439042!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175295aab17d579%3A0x8a233bf9d3437f3d!2zNDEgTMOqIFbEg24gSHXDom4sIFRhbiBCaW5oIERpc3RyaWN0IChRdWFuIFRhbiBCaW5oKSwgVMOibiBCw6xuaCwgSOG7kyBDaMOtIE1pbmgsIFZpZXRuYW0!5e0!3m2!1sen!2s!4v1471074047072" height="250" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

            
        </div>
        <!--About.end-->

    </div>
</section>
