@{
    ViewBag.Title = "Home Page";
}

<section class="slider">

    <div class="container">
        <script type="text/javascript">var lsjQuery = jQuery;</script>
        <script type="text/javascript">
            lsjQuery(document).ready(function () {
                if (typeof lsjQuery.fn.layerSlider == "undefined") {
                    lsShowNotice('layerslider_1', 'jquery');
                } else {
                    lsjQuery("#layerslider_1").layerSlider({ pauseOnHover: false, showBarTimer: true, showCircleTimer: false, thumbnailNavigation: 'disabled', imgPreload: false, skinsPath: 'http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/plugins/LayerSlider/static/skins/' })
                }
            });
        </script>
        <div class="ls-wp-fullwidth-container">
            <div class="ls-wp-fullwidth-helper">
                <div id="layerslider_1" class="ls-wp-container" style="width:1600px;height:500px;margin:0 auto;margin-bottom: 0px;">
                    <div class="ls-slide" id="layerslider" data-ls="slidedelay:7500;transition2d:5;">
                        <img src="~/Content/Buyshop/wp-content/plugins/LayerSlider/static/img/blank.gif" data-src="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/layerslider/LS-Home/blank.png" class="ls-bg" alt="Slide background" />
                        <img class="ls-l" style="top:0px;left:0px;max-width: 100%; width:100% !important; height: 100% !important;white-space: nowrap;" data-ls="offsetxin:0;durationin:400;easingin:easeInSine;offsetxout:0;durationout:8000;showuntil:100;easingout:easeOutSine;fadeout:false;scalexout:1.6;scaleyout:1.6;" src="~/Content/Buyshop/wp-content/plugins/LayerSlider/static/img/blank.gif" data-src="http://www.tonytheme.com/buyshop-html/img/slide1.jpg" alt="">
                        <p class="ls-l" style="top:135px;left:910px;font-family:'Oswald',sans-serif;font-size:47px;line-height:50px;color:#bba79f;white-space: nowrap;" data-ls="offsetxin:0;durationin:500;delayin:400;easingin:easeInQuint;scalexin:0.1;scaleyin:0.1;offsetxout:0;durationout:500;showuntil:7000;easingout:easeOutQuint;">PAY ATTENTION</p>
                        <p class="ls-l" style="top:190px;left:940px;font-family:'Oswald',sans-serif;font-size:33px;line-height:33px;color:#ff0000;white-space: nowrap;" data-ls="offsetxin:0;durationin:500;delayin:600;easingin:easeInQuint;scalexin:0.1;scaleyin:0.1;offsetxout:0;durationout:500;showuntil:7200;easingout:easeOutQuint;">to the</p>
                        <p class="ls-l" style="top:202px;left:1024px;text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);font-family:'Oswald',sans-serif;font-size:75px;line-height:75px;color:#ff0000;white-space: nowrap;" data-ls="offsetxin:0;durationin:500;delayin:800;easingin:easeInQuint;scalexin:0.1;scaleyin:0.1;offsetxout:0;durationout:500;showuntil:7400;easingout:easeOutQuint;">DETAILS</p>
                    </div>
                    <div class="ls-slide" id="layerslider" data-ls="slidedelay:7500;transition2d:5;">
                        <img src="~/Content/Buyshop/wp-content/plugins/LayerSlider/static/img/blank.gif" data-src="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/layerslider/LS-Home/blank.png" class="ls-bg" alt="Slide background" />
                        <img class="ls-l" style="top:0px;left:0px;max-width: 100%; width:100% !important; height: 100% !important;white-space: nowrap;" data-ls="offsetxin:0;durationin:400;easingin:easeInSine;offsetxout:0;durationout:7600;showuntil:100;easingout:easeOutSine;fadeout:false;scalexout:1.6;scaleyout:1.6;" src="~/Content/Buyshop/wp-content/plugins/LayerSlider/static/img/blank.gif" data-src="http://www.tonytheme.com/buyshop-html/img/slide2.jpg" alt="">
                        <p class="ls-l" style="top:122px;left:885px;font-family:'Oswald',sans-serif;font-size:23px;line-height:25px;color:#bba79f;white-space: nowrap;" data-ls="offsetxin:0;durationin:500;delayin:400;easingin:easeInQuint;scalexin:0.1;scaleyin:0.1;offsetxout:0;durationout:500;showuntil:7000;easingout:easeOutQuint;">THOSE WHO CANNOT CHANGE THEIR MINDS</p>
                        <p class="ls-l" style="top:157px;left:840px;font-weight:bold; text-transform: uppercase; text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);font-family:'Oswald',sans-serif;font-size:58px;line-height:60px;color:#ff0000;white-space: nowrap;" data-ls="offsetxin:0;durationin:500;delayin:600;easingin:easeInQuint;scalexin:0.1;scaleyin:0.1;offsetxout:0;durationout:500;showuntil:7200;easingout:easeOutQuint;">CANNOT CHANGE</p>
                        <p class="ls-l" style="top:215px;left:1040px;font-weight:bold; text-transform: uppercase; text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);font-family:'Oswald',sans-serif;font-size:58px;line-height:60px;color:#ff0000;white-space: nowrap;" data-ls="offsetxin:0;durationin:500;delayin:750;easingin:easeInQuint;scalexin:0.1;scaleyin:0.1;offsetxout:0;durationout:500;showuntil:7400;easingout:easeOutQuint;">ANYTHING</p>
                        <p class="ls-l" style="top:295px;left:1135px;font-family:'Oswald', sans-serif;font-size:23px;line-height:25px;color:333333px;white-space: nowrap;" data-ls="durationin:500;delayin:800;easingin:easeInQuint;scalexin:0.1;scaleyin:0.1;durationout:500;showuntil:7600;easingout:easeOutQuint;">Bernard Shaw</p>
                    </div>
                    <div class="ls-slide" id="layerslider" data-ls="slidedelay:7500;transition2d:5;">
                        <img class="ls-l" style="top:0px;left:0px;max-width: 100%; width:100% !important; height: 100% !important;white-space: nowrap;" data-ls="offsetxin:0;durationin:400;easingin:easeInSine;offsetxout:0;durationout:8000;showuntil:100;easingout:easeOutSine;fadeout:false;scalexout:1.2;scaleyout:1.2;" src="~/Content/Buyshop/wp-content/plugins/LayerSlider/static/img/blank.gif" data-src="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2014/08/slide3.jpg" alt="">
                        <p class="ls-l" style="top:122px;left:355px;font-family:'Oswald',sans-serif;font-size:23px;line-height:25px;color:#bba79f;white-space: nowrap;" data-ls="offsetxin:0;durationin:500;delayin:400;easingin:easeInQuint;scalexin:0.1;scaleyin:0.1;offsetxout:0;durationout:500;showuntil:7000;easingout:easeOutQuint;">FASHION IS A FORM OF UGLINESS</p>
                        <p class="ls-l" style="top:157px;left:335px;font-weight:bold; text-transform: uppercase; text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);font-family:'Oswald',sans-serif;font-size:58px;line-height:60px;color:#ff0000;white-space: nowrap;" data-ls="offsetxin:0;durationin:500;delayin:600;easingin:easeInQuint;scalexin:0.1;scaleyin:0.1;offsetxout:0;durationout:500;showuntil:7200;easingout:easeOutQuint;">SO INTOLERABLE THAT</p>
                        <p class="ls-l" style="top:213px;left:420px;font-weight:bold; text-transform: uppercase; text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);font-family:'Oswald',sans-serif;font-size:58px;line-height:60px;color:#ff0000;white-space: nowrap;" data-ls="offsetxin:0;durationin:500;delayin:600;easingin:easeInQuint;scalexin:0.1;scaleyin:0.1;offsetxout:0;durationout:500;showuntil:7200;easingout:easeOutQuint;">WE HAVE TO ALTER IT</p>
                        <p class="ls-l" style="top:280px;left:420px;font-family:'Oswald',sans-serif;font-size:28px;line-height:35px;color:#474747;white-space: nowrap;" data-ls="offsetxin:0;durationin:500;delayin:800;easingin:easeInQuint;scalexin:0.1;scaleyin:0.1;offsetxout:0;durationout:500;showuntil:7400;easingout:easeOutQuint;">EVERY SIX MONTHS</p>
                        <p class="ls-l" style="top:325px;left:420px;font-family:'Oswald',sans-serif;font-size:23px;line-height:25px;color:#333333;white-space: nowrap;" data-ls="offsetxin:0;durationin:500;delayin:800;easingin:easeInQuint;scalexin:0.1;scaleyin:0.1;offsetxout:0;durationout:500;showuntil:7600;easingout:easeOutQuint;">Oscar Wilde</p>
                    </div>
                    <div class="ls-slide" id="layerslider" data-ls="slidedelay:7500;transition2d:5;">
                        <img src="~/Content/Buyshop/wp-content/plugins/LayerSlider/static/img/blank.gif" data-src="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/layerslider/LS-Home/blank.png" class="ls-bg" alt="Slide background" />
                        <img class="ls-l" style="top:0px;left:0px;max-width: 100%; width:100% !important; height: 100% !important;white-space: nowrap;" data-ls="offsetxin:0;durationin:400;easingin:easeInSine;offsetxout:0;durationout:8000;showuntil:100;easingout:easeOutSine;fadeout:false;scalexout:1.6;scaleyout:1.6;" src="~/Content/Buyshop/wp-content/plugins/LayerSlider/static/img/blank.gif" data-src="http://www.tonytheme.com/buyshop-html/img/slide4.jpg" alt="">
                        <p class="ls-l" style="top:95px;left:885px;font-family:'Oswald',sans-serif;font-size:54px;line-height:54px;color:#9d3bc6;white-space: nowrap;" data-ls="offsetxin:0;durationin:500;delayin:400;easingin:easeOutQuint;scalexin:0.1;scaleyin:0.1;offsetxout:0;durationout:500;showuntil:7000;easingout:easeOutSine;">BUYSHOP</p>
                        <p class="ls-l" style="top:122px;left:1105px;font-weight:bold; text-transform: uppercase; text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2); ;font-family:'Oswald',sans-serif;font-size:24px;line-height:24px;color:#ff0000;white-space: nowrap;" data-ls="offsetxin:0;durationin:500;delayin:400;easingin:easeInQuint;scalexin:0.1;scaleyin:0.1;offsetxout:0;durationout:500;showuntil:7000;easingout:easeOutQuint;">is featured product</p>
                        <p class="ls-l" style="top:157px;left:885px;font-weight:bold; text-transform: uppercase; text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);font-family:'Oswald',sans-serif;font-size:57px;line-height:57px;color:#ff0000;white-space: nowrap;" data-ls="offsetxin:0;durationin:500;delayin:600;easingin:easeInQuint;scalexin:0.1;scaleyin:0.1;offsetxout:0;durationout:500;showuntil:7200;easingout:easeOutQuint;">on ThemeFores</p>
                        <p class="ls-l" style="top:225px;left:885px;font-family:'Oswald',sans-serif;font-size:47px;line-height:47px;color:#766565;white-space: nowrap;" data-ls="offsetxin:0;durationin:500;delayin:600;easingin:easeInQuint;scalexin:0.1;scaleyin:0.1;offsetxout:0;durationout:500;showuntil:7200;easingout:easeOutQuint;">Don't hesitate - buy it!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section id="content" class="shop">
    <div class="container">
        <div class="row">

            <div class="span12">



                <div class="row">
                    <div class=" span12">

                        <div class="">
                            <div class="woocommerce">
                                <section class="filters-by-category clearfix">
                                    <ul class="option-set" data-option-key="filter">
                                        <li><a href="#filter" data-option-value="*" class="selected" data-per-page="8">all</a></li>
                                        <li><a href="#filter" data-option-value=".featured" data-per-page="8">FEATURED</a></li>
                                        <li><a href="#filter" data-option-value=".new_product" data-per-page="8">NEW PRODUCTS</a></li>
                                        <li><a href="#filter" data-option-value=".sale" data-per-page="8">ON SALE</a></li>
                                    </ul>
                                </section>
                                <div class="row isotope-outer big_with_description">
                                    <div class="span3 product carousel_item new_product post-1025 type-product status-publish has-post-thumbnail product_cat-lingerie product_cat-shorts product_cat-skirts product_cat-women product_tag-dresses product_tag-jackets product_tag-lingerie product_tag-shirts product_tag-shorts product_tag-skirts featured shipping-taxable purchasable product-type-simple product-cat-lingerie product-cat-shorts product-cat-skirts product-cat-women product-tag-dresses product-tag-jackets product-tag-lingerie product-tag-shirts product-tag-shorts product-tag-skirts instock">


                                        <div class="product-image-wrapper onhover animate scale">
                                            <div class="label_new_top_left">New!</div>		<a href="index8144.html?product=marguerite-riding-printed-stretch-tulle-thong-3"><img width="300" height="300" src="~/Content/Buyshop/wp-content/uploads/2013/12/woclo_01_1-67-300x300.jpg" class="attachment-shop_single wp-post-image" alt="woclo_01_1 (67)" /></a>
                                        </div>


                                        <div class="wrapper-hover">

                                            <div class="product-name">
                                                <a href="index8144.html?product=marguerite-riding-printed-stretch-tulle-thong-3">
                                                    Marguerite stretch-tulle thong
                                                </a>
                                            </div><a class="quickview img-circle hidden-phone hidden-small-desktop hidden-tablet" data-product-id="1025">Quick View</a>
                                            <div class="wrapper">


                                                <div class="product-price"><span class="amount">&pound;750.00</span></div>


                                                <div class="product-tocart"><a href="index6365.html?add-to-cart=1025" rel="nofollow" data-product_id="1025" data-product_sku="13" data-wooclass="add_to_cart_button button product_type_simple" class="wft_add_to_cart_button product_type_simple"><i class="icon-basket"></i></a></div>
                                                <div class="clearfix"></div>
                                            </div>

                                        </div>


                                        <span class="sort-date hidden">1396634007</span>
                                        <span class="sort-price hidden">750</span>
                                        <span class="sort-product_name hidden">Marguerite stretch-tulle thong</span>
                                        <span class="sort-rating hidden">0</span>

                                    </div>


                                    <div class="preview hidden-tablet hidden-phone " style="display: none;">
                                        <div class="wrapper">

                                            <div class="col-1">


                                                <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2013/12/woclo_01_1-68.jpg" href="#">
                                                    <img class="thumb" alt="" src="~/Content/Buyshop/wp-content/uploads/2013/12/woclo_01_1-68-63x63.jpg" />
                                                </a>


                                                <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2013/12/woclo_01_1-67.jpg" href="#">
                                                    <img class="thumb" alt="" src="~/Content/Buyshop/wp-content/uploads/2013/12/woclo_01_1-67-63x63.jpg" />
                                                </a>


                                                <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2013/12/woclo_01_1-66.jpg" href="#">
                                                    <img class="thumb" alt="" src="~/Content/Buyshop/wp-content/uploads/2013/12/woclo_01_1-66-63x63.jpg" />
                                                </a>


                                            </div>
                                            <div class="col-2 with_media">
                                                <div class="big_image">
                                                    <div class="label_new_top_left">New!</div>				<a href="index8144.html?product=marguerite-riding-printed-stretch-tulle-thong-3">

                                                        <img width="300" height="300" src="~/Content/Buyshop/wp-content/uploads/2013/12/woclo_01_1-67-300x300.jpg" class="attachment-shop_single wp-post-image" alt="woclo_01_1 (67)" />
                                                    </a>
                                                </div>

                                                <div class="wrapper-hover">

                                                    <div class="product-name">
                                                        <a href="index8144.html?product=marguerite-riding-printed-stretch-tulle-thong-3">
                                                            Marguerite stretch-tulle thong
                                                        </a>
                                                    </div><a class="quickview img-circle hidden-phone hidden-small-desktop hidden-tablet" data-product-id="1025">Quick View</a>
                                                    <div class="wrapper">


                                                        <div class="product-price"><span class="amount">&pound;750.00</span></div>


                                                        <div class="product-tocart"><a href="index6365.html?add-to-cart=1025" rel="nofollow" data-product_id="1025" data-product_sku="13" data-wooclass="add_to_cart_button button product_type_simple" class="wft_add_to_cart_button product_type_simple"><i class="icon-basket"></i></a></div>

                                                    </div>
                                                    <div class="clearfix"></div>

                                                    <div class="product-link">
                                                        <a class="wft_add_to_wishlist" href="indexce78.html?add_to_wishlist=1025" data-product-id="1025" data-product-type="simple">Add to Wishlist</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span3 product carousel_item new_product post-1024 type-product status-publish has-post-thumbnail product_cat-jeans product_cat-shirts product_cat-women product_tag-dresses product_tag-jackets product_tag-lingerie product_tag-shirts product_tag-shorts product_tag-skirts shipping-taxable purchasable product-type-simple product-cat-jeans product-cat-shirts product-cat-women product-tag-dresses product-tag-jackets product-tag-lingerie product-tag-shirts product-tag-shorts product-tag-skirts instock">


                                        <div class="product-image-wrapper onhover animate scale">
                                            <div class="label_new_top_left">New!</div>		<a href="index6a5d.html?product=paisley-print-stretch-silk-camisole-3"><img width="300" height="300" src="~/Content/Buyshop/wp-content/uploads/2013/12/woclo_01_1-81-300x300.jpg" class="attachment-shop_single wp-post-image" alt="woclo_01_1 (81)" /></a>
                                        </div>


                                        <div class="wrapper-hover">

                                            <div class="product-name">
                                                <a href="index6a5d.html?product=paisley-print-stretch-silk-camisole-3">
                                                    Paisley-print stretch-silk camisole
                                                </a>
                                            </div><a class="quickview img-circle hidden-phone hidden-small-desktop hidden-tablet" data-product-id="1024">Quick View</a>
                                            <div class="wrapper">

                                                <div class="star-rating" title="Rated 5.00 out of 5"><span style="width:100%"><strong class="rating">5.00</strong> out of 5</span></div>
                                                <div class="product-price"><span class="amount">&pound;140.00</span></div>


                                                <div class="product-tocart"><a href="index58aa.html?add-to-cart=1024" rel="nofollow" data-product_id="1024" data-product_sku="20" data-wooclass="add_to_cart_button button product_type_simple" class="wft_add_to_cart_button product_type_simple"><i class="icon-basket"></i></a></div>
                                                <div class="clearfix"></div>
                                            </div>

                                        </div>


                                        <span class="sort-date hidden">1396633976</span>
                                        <span class="sort-price hidden">140</span>
                                        <span class="sort-product_name hidden">Paisley-print stretch-silk camisole</span>
                                        <span class="sort-rating hidden">5</span>

                                    </div>


                                    <div class="preview hidden-tablet hidden-phone " style="display: none;">
                                        <div class="wrapper">

                                            <div class="col-1">


                                                <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2013/12/woclo_01_1-82.jpg" href="#">
                                                    <img class="thumb" alt="" src="~/Content/Buyshop/wp-content/uploads/2013/12/woclo_01_1-82-63x63.jpg" />
                                                </a>


                                                <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2013/12/woclo_01_1-81.jpg" href="#">
                                                    <img class="thumb" alt="" src="~/Content/Buyshop/wp-content/uploads/2013/12/woclo_01_1-81-63x63.jpg" />
                                                </a>


                                                <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2013/12/woclo_01_1-80.jpg" href="#">
                                                    <img class="thumb" alt="" src="~/Content/Buyshop/wp-content/uploads/2013/12/woclo_01_1-80-63x63.jpg" />
                                                </a>


                                            </div>
                                            <div class="col-2 with_media">
                                                <div class="big_image">
                                                    <div class="label_new_top_left">New!</div>				<a href="index6a5d.html?product=paisley-print-stretch-silk-camisole-3">

                                                        <img width="300" height="300" src="~/Content/Buyshop/wp-content/uploads/2013/12/woclo_01_1-81-300x300.jpg" class="attachment-shop_single wp-post-image" alt="woclo_01_1 (81)" />
                                                    </a>
                                                </div>

                                                <div class="wrapper-hover">

                                                    <div class="product-name">
                                                        <a href="index6a5d.html?product=paisley-print-stretch-silk-camisole-3">
                                                            Paisley-print stretch-silk camisole
                                                        </a>
                                                    </div><a class="quickview img-circle hidden-phone hidden-small-desktop hidden-tablet" data-product-id="1024">Quick View</a>
                                                    <div class="wrapper">

                                                        <div class="star-rating" title="Rated 5.00 out of 5"><span style="width:100%"><strong class="rating">5.00</strong> out of 5</span></div>
                                                        <div class="product-price"><span class="amount">&pound;140.00</span></div>


                                                        <div class="product-tocart"><a href="index58aa.html?add-to-cart=1024" rel="nofollow" data-product_id="1024" data-product_sku="20" data-wooclass="add_to_cart_button button product_type_simple" class="wft_add_to_cart_button product_type_simple"><i class="icon-basket"></i></a></div>

                                                    </div>
                                                    <div class="clearfix"></div>

                                                    <div class="product-link">
                                                        <a class="wft_add_to_wishlist" href="index8782.html?add_to_wishlist=1024" data-product-id="1024" data-product-type="simple">Add to Wishlist</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span3 product carousel_item new_product post-1023 type-product status-publish has-post-thumbnail product_cat-dresses product_cat-jackets product_cat-prom-dresses product_cat-women product_tag-dresses product_tag-jackets product_tag-lingerie product_tag-shirts product_tag-shorts product_tag-skirts sale featured shipping-taxable purchasable product-type-variable product-cat-dresses product-cat-jackets product-cat-prom-dresses product-cat-women product-tag-dresses product-tag-jackets product-tag-lingerie product-tag-shirts product-tag-shorts product-tag-skirts instock">


                                        <div class="product-image-wrapper onhover animate scale">
                                            <div class="label_sale_top_right">Sale!</div><div class="label_new_top_left">New!</div>		<a href="indexffd7.html?product=dugan-georgette-top-3"><img width="300" height="300" src="~/Content/Buyshop/wp-content/uploads/2014/04/wclo_ad_1_1-26-300x300.jpg" class="attachment-shop_single wp-post-image" alt="wclo_ad_1_1 (26)" /></a>
                                        </div>


                                        <div class="wrapper-hover">

                                            <div class="product-name">
                                                <a href="indexffd7.html?product=dugan-georgette-top-3">
                                                    Dugan georgette top
                                                </a>
                                            </div><a class="quickview img-circle hidden-phone hidden-small-desktop hidden-tablet" data-product-id="1023">Quick View</a>
                                            <div class="wrapper">


                                                <div class="product-price"><del><span class="amount">&pound;180.00</span>&ndash;<span class="amount">&pound;182.00</span></del> <ins><span class="amount">&pound;150.00</span>&ndash;<span class="amount">&pound;152.00</span></ins></div>


                                                <div class="product-tocart"><a href="indexffd7.html?product=dugan-georgette-top-3" rel="nofollow" data-product_id="1023" data-product_sku="13" data-wooclass=" button product_type_variable" class="wft_add_to_cart_button product_type_variable"><i class="icon-basket"></i></a></div>
                                                <div class="clearfix"></div>
                                            </div>

                                        </div>


                                        <span class="sort-date hidden">1396633884</span>
                                        <span class="sort-price hidden">150</span>
                                        <span class="sort-product_name hidden">Dugan georgette top</span>
                                        <span class="sort-rating hidden">0</span>

                                    </div>


                                    <div class="preview hidden-tablet hidden-phone " style="display: none;">
                                        <div class="wrapper">

                                            <div class="col-1">


                                                <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2014/04/wclo_ad_1_1-27.jpg" href="#">
                                                    <img class="thumb" alt="" src="~/Content/Buyshop/wp-content/uploads/2014/04/wclo_ad_1_1-27-63x63.jpg" />
                                                </a>


                                                <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2014/04/wclo_ad_1_1-26.jpg" href="#">
                                                    <img class="thumb" alt="" src="~/Content/Buyshop/wp-content/uploads/2014/04/wclo_ad_1_1-26-63x63.jpg" />
                                                </a>


                                            </div>
                                            <div class="col-2 with_media">
                                                <div class="big_image">
                                                    <div class="label_sale_top_right">Sale!</div><div class="label_new_top_left">New!</div>				<a href="indexffd7.html?product=dugan-georgette-top-3">

                                                        <img width="300" height="300" src="~/Content/Buyshop/wp-content/uploads/2014/04/wclo_ad_1_1-26-300x300.jpg" class="attachment-shop_single wp-post-image" alt="wclo_ad_1_1 (26)" />
                                                    </a>
                                                </div>

                                                <div class="wrapper-hover">

                                                    <div class="product-name">
                                                        <a href="indexffd7.html?product=dugan-georgette-top-3">
                                                            Dugan georgette top
                                                        </a>
                                                    </div><a class="quickview img-circle hidden-phone hidden-small-desktop hidden-tablet" data-product-id="1023">Quick View</a>
                                                    <div class="wrapper">


                                                        <div class="product-price"><del><span class="amount">&pound;180.00</span>&ndash;<span class="amount">&pound;182.00</span></del> <ins><span class="amount">&pound;150.00</span>&ndash;<span class="amount">&pound;152.00</span></ins></div>


                                                        <div class="product-tocart"><a href="indexffd7.html?product=dugan-georgette-top-3" rel="nofollow" data-product_id="1023" data-product_sku="13" data-wooclass=" button product_type_variable" class="wft_add_to_cart_button product_type_variable"><i class="icon-basket"></i></a></div>

                                                    </div>
                                                    <div class="clearfix"></div>

                                                    <div class="product-link">
                                                        <a class="wft_add_to_wishlist" href="index557f.html?add_to_wishlist=1023" data-product-id="1023" data-product-type="variable">Add to Wishlist</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span3 product carousel_item new_product post-1022 type-product status-publish has-post-thumbnail product_cat-coats product_cat-dresses product_cat-evening-dresses product_cat-women product_tag-coats product_tag-dress product_tag-dresses product_tag-evening-dresses product_tag-jackets product_tag-jeans product_tag-lingerie product_tag-prom-dresses product_tag-sexy product_tag-shirts product_tag-shorts product_tag-skirts product_tag-style shipping-taxable purchasable product-type-simple product-cat-coats product-cat-dresses product-cat-evening-dresses product-cat-women product-tag-coats product-tag-dress product-tag-dresses product-tag-evening-dresses product-tag-jackets product-tag-jeans product-tag-lingerie product-tag-prom-dresses product-tag-sexy product-tag-shirts product-tag-shorts product-tag-skirts product-tag-style instock">


                                        <div class="product-image-wrapper onhover animate scale">
                                            <div class="label_video_bot_right">Video</div><div class="label_new_top_left">New!</div>		<a href="indexd351.html?product=angela-dress-3"><img width="300" height="300" src="~/Content/Buyshop/wp-content/uploads/2014/04/wclo_ad_1_1-32-300x300.jpg" class="attachment-shop_single wp-post-image" alt="wclo_ad_1_1 (32)" /></a>
                                        </div>


                                        <div class="wrapper-hover">

                                            <div class="product-name">
                                                <a href="indexd351.html?product=angela-dress-3">
                                                    Angela Dress
                                                </a>
                                            </div><a class="quickview img-circle hidden-phone hidden-small-desktop hidden-tablet" data-product-id="1022">Quick View</a>
                                            <div class="wrapper">


                                                <div class="product-price"><span class="amount">&pound;190.00</span></div>


                                                <div class="product-tocart"><a href="indexcf6e.html?add-to-cart=1022" rel="nofollow" data-product_id="1022" data-product_sku="1" data-wooclass="add_to_cart_button button product_type_simple" class="wft_add_to_cart_button product_type_simple"><i class="icon-basket"></i></a></div>
                                                <div class="clearfix"></div>
                                            </div>

                                        </div>


                                        <span class="sort-date hidden">1396633859</span>
                                        <span class="sort-price hidden">190</span>
                                        <span class="sort-product_name hidden">Angela Dress</span>
                                        <span class="sort-rating hidden">0</span>

                                    </div>


                                    <div class="preview hidden-tablet hidden-phone " style="display: none;">
                                        <div class="wrapper">

                                            <div class="col-1">


                                                <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2014/04/wclo_ad_1_1-33.jpg" href="#">
                                                    <img class="thumb" alt="" src="~/Content/Buyshop/wp-content/uploads/2014/04/wclo_ad_1_1-33-63x63.jpg" />
                                                </a>


                                                <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2014/04/wclo_ad_1_1-32.jpg" href="#">
                                                    <img class="thumb" alt="" src="~/Content/Buyshop/wp-content/uploads/2014/04/wclo_ad_1_1-32-63x63.jpg" />
                                                </a>


                                            </div>
                                            <div class="col-2 with_media">
                                                <div class="big_image">
                                                    <div class="label_video_bot_right">Video</div><div class="label_new_top_left">New!</div>				<a href="indexd351.html?product=angela-dress-3">

                                                        <img width="300" height="300" src="~/Content/Buyshop/wp-content/uploads/2014/04/wclo_ad_1_1-32-300x300.jpg" class="attachment-shop_single wp-post-image" alt="wclo_ad_1_1 (32)" />
                                                    </a>
                                                </div>

                                                <div class="wrapper-hover">

                                                    <div class="product-name">
                                                        <a href="indexd351.html?product=angela-dress-3">
                                                            Angela Dress
                                                        </a>
                                                    </div><a class="quickview img-circle hidden-phone hidden-small-desktop hidden-tablet" data-product-id="1022">Quick View</a>
                                                    <div class="wrapper">


                                                        <div class="product-price"><span class="amount">&pound;190.00</span></div>


                                                        <div class="product-tocart"><a href="indexcf6e.html?add-to-cart=1022" rel="nofollow" data-product_id="1022" data-product_sku="1" data-wooclass="add_to_cart_button button product_type_simple" class="wft_add_to_cart_button product_type_simple"><i class="icon-basket"></i></a></div>

                                                    </div>
                                                    <div class="clearfix"></div>

                                                    <div class="product-link">
                                                        <a class="wft_add_to_wishlist" href="index00f9.html?add_to_wishlist=1022" data-product-id="1022" data-product-type="simple">Add to Wishlist</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span3 product carousel_item new_product post-1021 type-product status-publish has-post-thumbnail product_cat-jeans product_cat-shirts product_cat-women product_tag-coats product_tag-dresses product_tag-evening-dresses product_tag-jackets product_tag-lingerie product_tag-shirts product_tag-shorts product_tag-skirts featured shipping-taxable purchasable product-type-simple product-cat-jeans product-cat-shirts product-cat-women product-tag-coats product-tag-dresses product-tag-evening-dresses product-tag-jackets product-tag-lingerie product-tag-shirts product-tag-shorts product-tag-skirts instock">


                                        <div class="product-image-wrapper onhover animate scale">
                                            <div class="label_new_top_left">New!</div>		<a href="indexef57.html?product=swarovski-crystal-embellished-jersey-dress-2"><img width="300" height="300" src="~/Content/Buyshop/wp-content/uploads/2013/12/woclo_01_1-77-300x300.jpg" class="attachment-shop_single wp-post-image" alt="woclo_01_1 (77)" /></a>
                                        </div>


                                        <div class="wrapper-hover">

                                            <div class="product-name">
                                                <a href="indexef57.html?product=swarovski-crystal-embellished-jersey-dress-2">
                                                    Swarovski jersey dress
                                                </a>
                                            </div><a class="quickview img-circle hidden-phone hidden-small-desktop hidden-tablet" data-product-id="1021">Quick View</a>
                                            <div class="wrapper">


                                                <div class="product-price"><span class="amount">&pound;160.00</span></div>


                                                <div class="product-tocart"><a href="index142d.html?add-to-cart=1021" rel="nofollow" data-product_id="1021" data-product_sku="13" data-wooclass="add_to_cart_button button product_type_simple" class="wft_add_to_cart_button product_type_simple"><i class="icon-basket"></i></a></div>
                                                <div class="clearfix"></div>
                                            </div>

                                        </div>


                                        <span class="sort-date hidden">1396632997</span>
                                        <span class="sort-price hidden">160</span>
                                        <span class="sort-product_name hidden">Swarovski jersey dress</span>
                                        <span class="sort-rating hidden">0</span>

                                    </div>


                                    <div class="preview hidden-tablet hidden-phone " style="display: none;">
                                        <div class="wrapper">

                                            <div class="col-1">


                                                <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2013/12/woclo_01_1-79.jpg" href="#">
                                                    <img class="thumb" alt="" src="~/Content/Buyshop/wp-content/uploads/2013/12/woclo_01_1-79-63x63.jpg" />
                                                </a>


                                                <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2013/12/woclo_01_1-78.jpg" href="#">
                                                    <img class="thumb" alt="" src="~/Content/Buyshop/wp-content/uploads/2013/12/woclo_01_1-78-63x63.jpg" />
                                                </a>


                                                <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2013/12/woclo_01_1-77.jpg" href="#">
                                                    <img class="thumb" alt="" src="~/Content/Buyshop/wp-content/uploads/2013/12/woclo_01_1-77-63x63.jpg" />
                                                </a>


                                            </div>
                                            <div class="col-2 with_media">
                                                <div class="big_image">
                                                    <div class="label_new_top_left">New!</div>				<a href="indexef57.html?product=swarovski-crystal-embellished-jersey-dress-2">

                                                        <img width="300" height="300" src="~/Content/Buyshop/wp-content/uploads/2013/12/woclo_01_1-77-300x300.jpg" class="attachment-shop_single wp-post-image" alt="woclo_01_1 (77)" />
                                                    </a>
                                                </div>

                                                <div class="wrapper-hover">

                                                    <div class="product-name">
                                                        <a href="indexef57.html?product=swarovski-crystal-embellished-jersey-dress-2">
                                                            Swarovski jersey dress
                                                        </a>
                                                    </div><a class="quickview img-circle hidden-phone hidden-small-desktop hidden-tablet" data-product-id="1021">Quick View</a>
                                                    <div class="wrapper">


                                                        <div class="product-price"><span class="amount">&pound;160.00</span></div>


                                                        <div class="product-tocart"><a href="index142d.html?add-to-cart=1021" rel="nofollow" data-product_id="1021" data-product_sku="13" data-wooclass="add_to_cart_button button product_type_simple" class="wft_add_to_cart_button product_type_simple"><i class="icon-basket"></i></a></div>

                                                    </div>
                                                    <div class="clearfix"></div>

                                                    <div class="product-link">
                                                        <a class="wft_add_to_wishlist" href="indexb43e.html?add_to_wishlist=1021" data-product-id="1021" data-product-type="simple">Add to Wishlist</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span3 product carousel_item new_product post-1020 type-product status-publish has-post-thumbnail product_cat-dresses product_cat-jackets product_cat-prom-dresses product_cat-women product_tag-club-dresses product_tag-coats product_tag-dresses product_tag-evening-dresses product_tag-jackets product_tag-lingerie product_tag-shirts product_tag-shorts product_tag-skirts featured shipping-taxable purchasable product-type-simple product-cat-dresses product-cat-jackets product-cat-prom-dresses product-cat-women product-tag-club-dresses product-tag-coats product-tag-dresses product-tag-evening-dresses product-tag-jackets product-tag-lingerie product-tag-shirts product-tag-shorts product-tag-skirts instock">


                                        <div class="product-image-wrapper onhover animate scale">
                                            <div class="label_new_top_left">New!</div>		<a href="index5144.html?product=bandage-dress-2"><img width="300" height="300" src="~/Content/Buyshop/wp-content/uploads/2013/12/woclo_01_1-52-300x300.jpg" class="attachment-shop_single wp-post-image" alt="woclo_01_1 (52)" /></a>
                                        </div>


                                        <div class="wrapper-hover">

                                            <div class="product-name">
                                                <a href="index5144.html?product=bandage-dress-2">
                                                    Bandage dress
                                                </a>
                                            </div><a class="quickview img-circle hidden-phone hidden-small-desktop hidden-tablet" data-product-id="1020">Quick View</a>
                                            <div class="wrapper">


                                                <div class="product-price"><span class="amount">&pound;870.00</span></div>


                                                <div class="product-tocart"><a href="indexd518.html?add-to-cart=1020" rel="nofollow" data-product_id="1020" data-product_sku="13" data-wooclass="add_to_cart_button button product_type_simple" class="wft_add_to_cart_button product_type_simple"><i class="icon-basket"></i></a></div>
                                                <div class="clearfix"></div>
                                            </div>

                                        </div>


                                        <span class="sort-date hidden">1396632971</span>
                                        <span class="sort-price hidden">870</span>
                                        <span class="sort-product_name hidden">Bandage dress</span>
                                        <span class="sort-rating hidden">0</span>

                                    </div>


                                    <div class="preview hidden-tablet hidden-phone " style="display: none;">
                                        <div class="wrapper">

                                            <div class="col-1">


                                                <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2013/12/woclo_01_1-53.jpg" href="#">
                                                    <img class="thumb" alt="" src="~/Content/Buyshop/wp-content/uploads/2013/12/woclo_01_1-53-63x63.jpg" />
                                                </a>


                                                <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2013/12/woclo_01_1-52.jpg" href="#">
                                                    <img class="thumb" alt="" src="~/Content/Buyshop/wp-content/uploads/2013/12/woclo_01_1-52-63x63.jpg" />
                                                </a>


                                                <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2013/12/woclo_01_1-51.jpg" href="#">
                                                    <img class="thumb" alt="" src="~/Content/Buyshop/wp-content/uploads/2013/12/woclo_01_1-51-63x63.jpg" />
                                                </a>


                                            </div>
                                            <div class="col-2 with_media">
                                                <div class="big_image">
                                                    <div class="label_new_top_left">New!</div>				<a href="index5144.html?product=bandage-dress-2">

                                                        <img width="300" height="300" src="~/Content/Buyshop/wp-content/uploads/2013/12/woclo_01_1-52-300x300.jpg" class="attachment-shop_single wp-post-image" alt="woclo_01_1 (52)" />
                                                    </a>
                                                </div>

                                                <div class="wrapper-hover">

                                                    <div class="product-name">
                                                        <a href="index5144.html?product=bandage-dress-2">
                                                            Bandage dress
                                                        </a>
                                                    </div><a class="quickview img-circle hidden-phone hidden-small-desktop hidden-tablet" data-product-id="1020">Quick View</a>
                                                    <div class="wrapper">


                                                        <div class="product-price"><span class="amount">&pound;870.00</span></div>


                                                        <div class="product-tocart"><a href="indexd518.html?add-to-cart=1020" rel="nofollow" data-product_id="1020" data-product_sku="13" data-wooclass="add_to_cart_button button product_type_simple" class="wft_add_to_cart_button product_type_simple"><i class="icon-basket"></i></a></div>

                                                    </div>
                                                    <div class="clearfix"></div>

                                                    <div class="product-link">
                                                        <a class="wft_add_to_wishlist" href="indexa29b.html?add_to_wishlist=1020" data-product-id="1020" data-product-type="simple">Add to Wishlist</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span3 product carousel_item new_product post-1018 type-product status-publish has-post-thumbnail product_cat-club-dresses product_cat-dresses product_cat-women product_tag-club-dresses product_tag-dress product_tag-dresses product_tag-jackets product_tag-lingerie product_tag-sexy product_tag-shirts product_tag-shorts product_tag-silk product_tag-skirts product_tag-strapless featured shipping-taxable purchasable product-type-simple product-cat-club-dresses product-cat-dresses product-cat-women product-tag-club-dresses product-tag-dress product-tag-dresses product-tag-jackets product-tag-lingerie product-tag-sexy product-tag-shirts product-tag-shorts product-tag-silk product-tag-skirts product-tag-strapless instock">


                                        <div class="product-image-wrapper onhover animate scale">
                                            <div class="label_new_top_left">New!</div>		<a href="indexc8e0.html?product=strapless-ruffled-cocktail-dress-copy-2"><img width="300" height="300" src="~/Content/Buyshop/wp-content/uploads/2013/12/woclo_01_1-85-300x300.jpg" class="attachment-shop_single wp-post-image" alt="woclo_01_1 (85)" /></a>
                                        </div>


                                        <div class="wrapper-hover">

                                            <div class="product-name">
                                                <a href="indexc8e0.html?product=strapless-ruffled-cocktail-dress-copy-2">
                                                    Strapless Ruffled Cocktail Dress
                                                </a>
                                            </div><a class="quickview img-circle hidden-phone hidden-small-desktop hidden-tablet" data-product-id="1018">Quick View</a>
                                            <div class="wrapper">


                                                <div class="product-price"><span class="amount">&pound;520.00</span></div>


                                                <div class="product-tocart"><a href="index1a5c.html?add-to-cart=1018" rel="nofollow" data-product_id="1018" data-product_sku="2" data-wooclass="add_to_cart_button button product_type_simple" class="wft_add_to_cart_button product_type_simple"><i class="icon-basket"></i></a></div>
                                                <div class="clearfix"></div>
                                            </div>

                                        </div>


                                        <span class="sort-date hidden">1396632733</span>
                                        <span class="sort-price hidden">520</span>
                                        <span class="sort-product_name hidden">Strapless Ruffled Cocktail Dress</span>
                                        <span class="sort-rating hidden">0</span>

                                    </div>


                                    <div class="preview hidden-tablet hidden-phone " style="display: none;">
                                        <div class="wrapper">

                                            <div class="col-1">


                                                <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2013/12/woclo_01_1-86.jpg" href="#">
                                                    <img class="thumb" alt="" src="~/Content/Buyshop/wp-content/uploads/2013/12/woclo_01_1-86-63x63.jpg" />
                                                </a>


                                                <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2013/12/woclo_01_1-85.jpg" href="#">
                                                    <img class="thumb" alt="" src="~/Content/Buyshop/wp-content/uploads/2013/12/woclo_01_1-85-63x63.jpg" />
                                                </a>


                                                <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2013/12/woclo_01_1-84.jpg" href="#">
                                                    <img class="thumb" alt="" src="~/Content/Buyshop/wp-content/uploads/2013/12/woclo_01_1-84-63x63.jpg" />
                                                </a>


                                            </div>
                                            <div class="col-2 with_media">
                                                <div class="big_image">
                                                    <div class="label_new_top_left">New!</div>				<a href="indexc8e0.html?product=strapless-ruffled-cocktail-dress-copy-2">

                                                        <img width="300" height="300" src="~/Content/Buyshop/wp-content/uploads/2013/12/woclo_01_1-85-300x300.jpg" class="attachment-shop_single wp-post-image" alt="woclo_01_1 (85)" />
                                                    </a>
                                                </div>

                                                <div class="wrapper-hover">

                                                    <div class="product-name">
                                                        <a href="indexc8e0.html?product=strapless-ruffled-cocktail-dress-copy-2">
                                                            Strapless Ruffled Cocktail Dress
                                                        </a>
                                                    </div><a class="quickview img-circle hidden-phone hidden-small-desktop hidden-tablet" data-product-id="1018">Quick View</a>
                                                    <div class="wrapper">


                                                        <div class="product-price"><span class="amount">&pound;520.00</span></div>


                                                        <div class="product-tocart"><a href="index1a5c.html?add-to-cart=1018" rel="nofollow" data-product_id="1018" data-product_sku="2" data-wooclass="add_to_cart_button button product_type_simple" class="wft_add_to_cart_button product_type_simple"><i class="icon-basket"></i></a></div>

                                                    </div>
                                                    <div class="clearfix"></div>

                                                    <div class="product-link">
                                                        <a class="wft_add_to_wishlist" href="index9fd6.html?add_to_wishlist=1018" data-product-id="1018" data-product-type="simple">Add to Wishlist</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span3 product carousel_item new_product post-1017 type-product status-publish has-post-thumbnail product_cat-dresses product_cat-lingerie product_cat-shorts product_cat-skirts product_cat-women product_tag-club-dresses product_tag-dresses product_tag-jackets product_tag-lingerie product_tag-shirts product_tag-shorts product_tag-skirts sale shipping-taxable purchasable product-type-simple product-cat-dresses product-cat-lingerie product-cat-shorts product-cat-skirts product-cat-women product-tag-club-dresses product-tag-dresses product-tag-jackets product-tag-lingerie product-tag-shirts product-tag-shorts product-tag-skirts instock">


                                        <div class="product-image-wrapper onhover animate scale">
                                            <div class="sale_discount img-rounded">-23%</div><div class="label_sale_top_right">Sale!</div><div class="label_new_top_left">New!</div>		<a href="index1edc.html?product=aero-draped-front-wool-cardigan-2"><img width="300" height="300" src="~/Content/Buyshop/wp-content/uploads/2013/12/woclo_01_1-83-300x300.jpg" class="attachment-shop_single wp-post-image" alt="woclo_01_1 (83)" /></a>
                                        </div>


                                        <div class="wrapper-hover">

                                            <div class="product-name">
                                                <a href="index1edc.html?product=aero-draped-front-wool-cardigan-2">
                                                    Aero Draped-front wool cardigan
                                                </a>
                                            </div><a class="quickview img-circle hidden-phone hidden-small-desktop hidden-tablet" data-product-id="1017">Quick View</a>
                                            <div class="wrapper">


                                                <div class="product-price"><del><span class="amount">&pound;174.20</span></del> <ins><span class="amount">&pound;134.00</span></ins></div>


                                                <div class="product-tocart"><a href="indexd9df.html?add-to-cart=1017" rel="nofollow" data-product_id="1017" data-product_sku="25" data-wooclass="add_to_cart_button button product_type_simple" class="wft_add_to_cart_button product_type_simple"><i class="icon-basket"></i></a></div>
                                                <div class="clearfix"></div>
                                            </div>

                                        </div>


                                        <span class="sort-date hidden">1396632712</span>
                                        <span class="sort-price hidden">134.00</span>
                                        <span class="sort-product_name hidden">Aero Draped-front wool cardigan</span>
                                        <span class="sort-rating hidden">0</span>

                                    </div>


                                    <div class="preview hidden-tablet hidden-phone " style="display: none;">
                                        <div class="wrapper">

                                            <div class="col-1">


                                                <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2013/12/wocload_01_1_39_.jpg" href="#">
                                                    <img class="thumb" alt="" src="~/Content/Buyshop/wp-content/uploads/2013/12/wocload_01_1_39_-63x84.jpg" />
                                                </a>


                                                <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2013/12/wocload_01_1_40_.jpg" href="#">
                                                    <img class="thumb" alt="" src="~/Content/Buyshop/wp-content/uploads/2013/12/wocload_01_1_40_-63x84.jpg" />
                                                </a>


                                                <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2013/12/wocload_01_1_41_.jpg" href="#">
                                                    <img class="thumb" alt="" src="~/Content/Buyshop/wp-content/uploads/2013/12/wocload_01_1_41_-63x84.jpg" />
                                                </a>


                                            </div>
                                            <div class="col-2 with_media">
                                                <div class="big_image">
                                                    <div class="sale_discount img-rounded">-23%</div><div class="label_sale_top_right">Sale!</div><div class="label_new_top_left">New!</div>				<a href="index1edc.html?product=aero-draped-front-wool-cardigan-2">

                                                        <img width="300" height="300" src="~/Content/Buyshop/wp-content/uploads/2013/12/woclo_01_1-83-300x300.jpg" class="attachment-shop_single wp-post-image" alt="woclo_01_1 (83)" />
                                                    </a>
                                                </div>

                                                <div class="wrapper-hover">

                                                    <div class="product-name">
                                                        <a href="index1edc.html?product=aero-draped-front-wool-cardigan-2">
                                                            Aero Draped-front wool cardigan
                                                        </a>
                                                    </div><a class="quickview img-circle hidden-phone hidden-small-desktop hidden-tablet" data-product-id="1017">Quick View</a>
                                                    <div class="wrapper">


                                                        <div class="product-price"><del><span class="amount">&pound;174.20</span></del> <ins><span class="amount">&pound;134.00</span></ins></div>


                                                        <div class="product-tocart"><a href="indexd9df.html?add-to-cart=1017" rel="nofollow" data-product_id="1017" data-product_sku="25" data-wooclass="add_to_cart_button button product_type_simple" class="wft_add_to_cart_button product_type_simple"><i class="icon-basket"></i></a></div>

                                                    </div>
                                                    <div class="clearfix"></div>

                                                    <div class="product-link">
                                                        <a class="wft_add_to_wishlist" href="index5682.html?add_to_wishlist=1017" data-product-id="1017" data-product-type="simple">Add to Wishlist</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row parallax-block parallax fullwidth-block vc_custom_1408126589913">
                    <div class=" span12">

                        <div class="">
                            <div class="container">
                                <div class="row">
                                    <div class="span8 offset2">
                                        <h1 class="aligncenter">TESTIMONIALS</h1>
                                        <div class="carousel-testimonials">
                                            <div class="quotes">&#8220;</div>
                                            <div class="flexslider">
                                                <ul class="slides">
                                                    <li id="quote-998" class="cbp-qtcontent quote first">
                                                        <p class="testimonials-text">Morbi pharetra ac tellus sed blandit. Sed consequat felis nec nulla euismod imperdiet. Sed id feugiat diam. Aenean purus dui, imperdiet vitae sollicitudin at, vehicula ut quam. Quisque sodales diam nec pellentesque faucibus. Donec volutpat rutrum metus, vel ullamcorper urna rhoncus laoreet.</p><p>
                                                            <span class="testimonial-author">
                                                                <cite class="author"><strong>Jodie Smith, Designer and Developer</strong></cite><!--/.author-->
                                                            </span>
                                                        </p>
                                                    </li>
                                                    <li id="quote-999" class="cbp-qtcontent quote">
                                                        <p class="testimonials-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec eros tellus, scelerisque nec, magnis dis parturient nibh egestas orci. Aliquam lectus. Morbi eget dolor ullamcorper massa pellentesque sagittis. Morbi sit amet quam. Nulla mauris ipsum, convallis ut, vestibulum eu, tincidunt vel, nisi.</p><p>
                                                            <span class="testimonial-author">
                                                                <cite class="author"><strong>John Smith, Director of Marketing</strong></cite><!--/.author-->
                                                            </span>
                                                        </p>
                                                    </li>
                                                    <li id="quote-1000" class="cbp-qtcontent quote last">
                                                        <p class="testimonials-text">Etiam vel odio a urna sagittis pharetra in nec orci. Phasellus volutpat eu lorem non rhoncus. Aenean elementum turpis ac justo posuere ultricies. Donec in orci erat. Duis bibendum euismod tortor quis placerat.</p><p>
                                                            <span class="testimonial-author">
                                                                <cite class="author"><strong>John Doe, Manager</strong></cite><!--/.author-->
                                                            </span>
                                                        </p>
                                                    </li>
                                                </ul>
                                            </div><!--testimonials-flexslider--><div class="fix"></div>
                                        </div><!--/.testimonials-->

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class=" span12">

                        <div class="wpb_raw_code  ">
                            <div class="wpb_wrapper">
                                <div class="custom_blocks margin-1 animate-delay-outer">
                                    <div class="pull-left">
                                        <div class="wrapper_w">
                                            <div class="box animate-delay scale">
                                                <div class="inside"> <a href="#"><span class="icon_circle dark"><i class="icon-truck"></i></span><span class="text">FREE SHIPPING</span></a> </div>
                                            </div>
                                            <div class="box animate-delay scale">
                                                <div class="inside"><a href="#"><span class="icon_circle light"><i class="icon-dollar"></i></span><span class="text">CASH ON DELIVERY</span></a> </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pull-left">
                                        <div class="wrapper_w">
                                            <div class="box animate-delay scale">
                                                <div class="inside"><a href="#"><span class="icon_circle dark"><i class="icon-clock"></i></span><span class="text">30-DAY RETURNS</span></a> </div>
                                            </div>
                                            <div class="box animate-delay scale">
                                                <div class="inside"><a href="#"><span class="icon_circle light"><i class="icon-flight"></i></span><span class="text">World Shipping</span></a> </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="row animate-delay-outer">
                    <div class="block_img animate-delay scale span3">

                        <div class="wpb_single_image  vc_align_center">
                            <div class="wpb_wrapper">

                                <a href="#" target="_self"><img width="270" height="173" src="~/Content/Buyshop/wp-content/uploads/2013/12/img1.png" class="attachment-full" alt="img1" /></a>
                            </div>
                        </div>
                    </div>
                    <div class="block_img animate-delay scale span3">

                        <div class="wpb_single_image  vc_align_center">
                            <div class="wpb_wrapper">

                                <a href="#" target="_self"><img width="270" height="173" src="~/Content/Buyshop/wp-content/uploads/2013/12/img2.png" class="attachment-full" alt="img2" /></a>
                            </div>
                        </div>
                    </div>
                    <div class="block_img animate-delay scale span3">

                        <div class="wpb_single_image  vc_align_center">
                            <div class="wpb_wrapper">

                                <a href="#" target="_self"><img width="270" height="173" src="~/Content/Buyshop/wp-content/uploads/2013/12/img3.png" class="attachment-full" alt="img3" /></a>
                            </div>
                        </div>
                    </div>
                    <div class="block_img animate-delay scale span3">

                        <div class="wpb_single_image  vc_align_left">
                            <div class="wpb_wrapper">

                                <a href="#" target="_self"><img width="270" height="173" src="~/Content/Buyshop/wp-content/uploads/2013/12/img4.png" class="attachment-full" alt="img4" /></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class=" span12">

                        <div class="">
                            <h3 class="padding">FROM THE BLOG</h3><div class="carousel es-carousel-wrapper style2 from-blog">
                                <div class="es-carousel">
                                    <div class="row">
                                        <div class="carousel_items">
                                            <div class="span6 carousel_item">
                                                <div class="row">
                                                    <div class="span3">
                                                        <a href="indexd7bf.html?p=1015"><img src="~/Content/Buyshop/wp-content/uploads/2014/02/img_blog-03.jpg" alt="" class="img-rounded animate flip" /></a>
                                                    </div><div class="span3">
                                                        <h4>The coollest post from blog</h4>
                                                        <p><a href="indexd7bf.html?p=1015#comments">3 Comments</a></p>
                                                        <p>
                                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec eros tellus, scelerisque nec, rhoncus eget, laoreet sit amet, nunc.

                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="span6 carousel_item">
                                                <div class="row">
                                                    <div class="span3">
                                                        <a href="index5a2e.html?p=1013"><img src="~/Content/Buyshop/wp-content/uploads/2014/02/img_blog-02.jpg" alt="" class="img-rounded animate flip" /></a>
                                                    </div><div class="span3">
                                                        <h4>Another awesome blog post</h4>
                                                        <p><a href="index5a2e.html?p=1013#comments">4 Comments</a></p>
                                                        <p>
                                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec eros tellus, scelerisque nec, rhoncus eget, laoreet sit amet, nunc.

                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="span6 carousel_item">
                                                <div class="row">
                                                    <div class="span3">
                                                        <a href="index3388.html?p=1011"><img src="~/Content/Buyshop/wp-content/uploads/2014/01/img_blog.jpg" alt="" class="img-rounded animate flip" /></a>
                                                    </div><div class="span3">
                                                        <h4>Some mega post</h4>
                                                        <p><a href="index3388.html?p=1011#comments">0 Comments</a></p>
                                                        <p>
                                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec eros tellus, scelerisque nec, rhoncus eget, laoreet sit amet, nunc.

                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="span6 carousel_item">
                                                <div class="row">
                                                    <div class="span3">
                                                        <a href="index0ced.html?p=586"><img src="~/Content/Buyshop/wp-content/uploads/2014/02/img_blog-02.jpg" alt="" class="img-rounded animate flip" /></a>
                                                    </div><div class="span3">
                                                        <h4>Blog Post 3</h4>
                                                        <p><a href="index0ced.html?p=586#comments">4 Comments</a></p>
                                                        <p>
                                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec eros tellus, scelerisque nec, rhoncus eget, laoreet sit amet, nunc.

                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="span6 carousel_item">
                                                <div class="row">
                                                    <div class="span3">
                                                        <a href="indexc74d.html?p=579"><img src="~/Content/Buyshop/wp-content/uploads/2014/02/img_blog-03.jpg" alt="" class="img-rounded animate flip" /></a>
                                                    </div><div class="span3">
                                                        <h4>Blog Post 2</h4>
                                                        <p><a href="indexc74d.html?p=579#comments">0 Comments</a></p>
                                                        <p><p class="mce-wp-more" title="More...">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec eros tellus, scelerisque nec, rhoncus eget, laoreet sit amet, nunc.</p>
                                                        <p class="mce-wp-more" title="More..."></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="span6 carousel_item">
                                                <div class="row">
                                                    <div class="span3">
                                                        <a href="index905c.html?p=212"><img src="~/Content/Buyshop/wp-content/uploads/2014/01/img_blog.jpg" alt="" class="img-rounded animate flip" /></a>
                                                    </div><div class="span3">
                                                        <h4>Blog Post 1</h4>
                                                        <p><a href="index905c.html?p=212#comments">6 Comments</a></p>
                                                        <p>
                                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec eros tellus, scelerisque nec, rhoncus eget, laoreet sit amet, nunc.

                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                @*<div class="row">
                            <div class="animate scale span3">

                                <div class="wpb_raw_code  ">
                                    <div class="wpb_wrapper">
                                        <h3><i class="icon-vcard"></i>ABOUT <span class="custom_color">BUY</span>SHOP</h3>
                                        <div class="cleancode">
                                            <p><strong>Fusce eu dui. Integer vel nibh sit amet turpis vulputate aliquet. </strong>Phasellus id tesque a leo. Donec consequat lectus sed felis. Quisque vestibulum massa. Nulla ornare. Nulla libero.</p>
                                            <p>
                                                Nullam ac nisi non eros gravida venenatis.<br>
                                                Ut euismod, turpis sollicitudin lobortis pellentesque, libero massa dapibus dui, eu dictum justo urna et mi. Integer dictum est vitae sem.
                                            </p>
                                            <p>Vestibulum justo. Nulla mauris ipsum, convallis ut, vestibulum eu, tincidunt vel, nisi. Curabitur molestie euismod erat. Proin eros odio, mattis rutrum. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="animate scale span3">
                                <h3><i class="icon-twitter-bird"></i>TWITTER FEEDS</h3><a class="twitter-timeline" data-dnt="true" href="https://twitter.com/envatowebdesign" data-widget-id="382785611435753472" height="335" data-theme="light" data-link-color="#000000" data-show-replies="false" data-chrome="transparent noheader noborders nofooter noscrollbar">Твиты пользователя @envatowebdesign</a>
                                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


                                <div class="">


                                </div>
                            </div>
                            <div class="animate scale span3">
                                <h3><i class="icon-facebook"></i>FACEBOOK</h3><iframe scrolling="no"
                                                                                      name="f2449fb8e38cd2c"
                                                                                      allowtransparency="true"
                                                                                      title="Facebook Social Plugin"
                                                                                      style="border: medium none;
                    visibility: visible;
                    width: 280px;
                    height: 335px;"
                                                                                      src="http://www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fenvato&amp;width=280&amp;colorscheme=light&amp;show_border=false&amp;show_faces=true&amp;stream=false&amp;header=true&amp;height=335"></iframe>
                                <div class="">


                                </div>
                            </div>
                            <div class="animate scale span3">

                                <div class="wpb_raw_code  ">
                                    <div class="wpb_wrapper">
                                        <h3><i class="icon-mail"></i>CONTACT US</h3>
                                        <div class="cleancode">
                                            <ul class="icons">
                                                <li>
                                                    <i class="icon-call"></i><strong>CONTACT PHONE:</strong><br>
                                                    321321321, 321321321
                                                </li>
                                                <li>
                                                    <i class="icon-mobile-alt"></i><strong>CELL PHONE:</strong><br>
                                                    123123123,  123123123
                                                </li>
                                                <li>
                                                    <i class="icon-mail-1"></i><strong>E-MAIL ADDRESSES:</strong><br>
                                                    <a href="mailto:sales@mydomain.com">SALES@MYDOMAIL.COM</a> <br>
                                                    <a href="mailto:info@mydomain.com">INFO@MYDOMAIN.COM</a>
                                                </li>
                                                <li>
                                                    <i class="icon-skype"></i><strong>SKYPE:</strong><br>
                                                    TEST.SHOP,   SHOP.TEST
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>*@



            </div>

        </div>
    </div><!-- end container -->
</section>