
@{
    ViewBag.Title = "Index";
}




<section id="content">
    <div class="container top" role="main">
        <div class="content_top">
            <div class="wrapper_w">
                <div class="pull-left">
                    <div class="breadcrumbs">
                        <a class="home" href="http://demo.ethemeuk.com/buyshop/woocommerce/demo">Home</a><span>›</span>
                        <a href="index90fa.html?product_cat=women">Women</a><span>›</span>Dresses
                    </div>
                </div>
            </div>
        </div>
        <div class="row">


            <div id="column_right" class="span9">


                <div class="listing_header_row1">
                    <div class="pull-left">
                        <form class="woocommerce-ordering" method="get">
                            <label>Sort by:</label>
                            <select name="orderby" class="orderby_ajax">
                                <option value="menu_order" selected='selected'>Default</option>
                                <option value="popularity">Popularity</option>
                                <option value="rating">Average rating</option>
                                <option value="date">Newness</option>
                                <option value="price">Price: low to high</option>
                                <option value="price_desc">Price: high to low</option>
                            </select>
                            <input type="hidden" name="product_cat" value="dresses" />
                            <input type="hidden" name="product_cat" value="dresses" />

                        </form>
                    </div>

                </div>
                <div class="line1"></div>
                <div class="listing_header_row2">
                    <div class="pull-left">
                        <p class="woocommerce-result-count">
                            Showing 1–9 of 18 results
                        </p>
                    </div>
                    <div class="pull-right wft_pagination">
                        <div class="num pagination_ajax">
                            <span class='page-numbers current'>1</span>
                            <a class='page-numbers' href='index55d1.html?product_cat=dresses&amp;paged=2'>2</a>
                            <a class="next page-numbers" href="index55d1.html?product_cat=dresses&amp;paged=2">&rarr;</a>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>


                <div class="row big_with_description">


                    <div class="span3 product carousel_item post-78 type-product status-publish has-post-thumbnail product_cat-dresses product_cat-jackets product_cat-prom-dresses product_cat-women featured shipping-taxable purchasable product-type-simple product-cat-dresses product-cat-jackets product-cat-prom-dresses product-cat-women instock">


                        <div class="product-image-wrapper onhover animate scale">
                            <a href="indexb436.html?product=a-l-c-gerry-dress">
                                <img width="300" height="300" src="~/Content/Buyshop/wp-content/uploads/2014/04/wclo_ad_1_1-22-300x300.jpg" class="attachment-shop_single wp-post-image" alt="wclo_ad_1_1 (22)" />
                            </a>
                        </div>


                        <div class="wrapper-hover">

                            <div class="product-name">
                                <a href="indexb436.html?product=a-l-c-gerry-dress">
                                    A.L.C &#8211; Gerry Dress
                                </a>
                            </div><a class="quickview img-circle hidden-phone hidden-small-desktop hidden-tablet" data-product-id="78">Quick View</a>
                            <div class="wrapper">


                                <div class="product-price"><span class="amount">&pound;260.00</span></div>


                                <div class="product-tocart"><a href="index465b.html?product_cat=dresses&amp;add-to-cart=78" rel="nofollow" data-product_id="78" data-product_sku="13" data-wooclass="add_to_cart_button button product_type_simple" class="wft_add_to_cart_button product_type_simple"><i class="icon-basket"></i></a></div>
                                <div class="clearfix"></div>
                            </div>

                        </div>


                        <span class="sort-date hidden">1386767309</span>
                        <span class="sort-price hidden">260</span>
                        <span class="sort-product_name hidden">A.L.C &#8211; Gerry Dress</span>
                        <span class="sort-rating hidden">0</span>

                    </div>


                    <div class="preview hidden-tablet hidden-phone " style="display: none;">
                        <div class="wrapper">

                            <div class="col-1">


                                <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2014/04/wclo_ad_1_1-22.jpg" href="#">
                                    <img class="thumb" alt="" src="~/Content/Buyshop/wp-content/uploads/2014/04/wclo_ad_1_1-22-63x63.jpg" />
                                </a>


                                <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2014/04/wclo_ad_1_1-23.jpg" href="#">
                                    <img class="thumb" alt="" src="~/Content/Buyshop/wp-content/uploads/2014/04/wclo_ad_1_1-23-63x63.jpg" />
                                </a>


                            </div>
                            <div class="col-2 with_media">
                                <div class="big_image">
                                    <a href="indexb436.html?product=a-l-c-gerry-dress">

                                        <img width="300" height="300" src="~/Content/Buyshop/wp-content/uploads/2014/04/wclo_ad_1_1-22-300x300.jpg" class="attachment-shop_single wp-post-image" alt="wclo_ad_1_1 (22)" />
                                    </a>
                                </div>

                                <div class="wrapper-hover">

                                    <div class="product-name">
                                        <a href="indexb436.html?product=a-l-c-gerry-dress">
                                            A.L.C &#8211; Gerry Dress
                                        </a>
                                    </div><a class="quickview img-circle hidden-phone hidden-small-desktop hidden-tablet" data-product-id="78">Quick View</a>
                                    <div class="wrapper">


                                        <div class="product-price"><span class="amount">&pound;260.00</span></div>


                                        <div class="product-tocart"><a href="index465b.html?product_cat=dresses&amp;add-to-cart=78" rel="nofollow" data-product_id="78" data-product_sku="13" data-wooclass="add_to_cart_button button product_type_simple" class="wft_add_to_cart_button product_type_simple"><i class="icon-basket"></i></a></div>

                                    </div>
                                    <div class="clearfix"></div>

                                    <div class="product-link">
                                        <a class="wft_add_to_wishlist" href="index324a.html?product_cat=dresses&amp;add_to_wishlist=78" data-product-id="78" data-product-type="simple">Add to Wishlist</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="span3 product carousel_item new_product post-1017 type-product status-publish has-post-thumbnail product_cat-dresses product_cat-lingerie product_cat-shorts product_cat-skirts product_cat-women product_tag-club-dresses product_tag-dresses product_tag-jackets product_tag-lingerie product_tag-shirts product_tag-shorts product_tag-skirts sale shipping-taxable purchasable product-type-simple product-cat-dresses product-cat-lingerie product-cat-shorts product-cat-skirts product-cat-women product-tag-club-dresses product-tag-dresses product-tag-jackets product-tag-lingerie product-tag-shirts product-tag-shorts product-tag-skirts instock">


                        <div class="product-image-wrapper onhover animate scale">
                            <div class="sale_discount img-rounded">-23%</div><div class="label_sale_top_right">Sale!</div><div class="label_new_top_left">New!</div>		<a href="index1edc.html?product=aero-draped-front-wool-cardigan-2"><img width="300" height="300" src="~/Content/Buyshop/wp-content/uploads/2013/12/woclo_01_1-83-300x300.jpg" class="attachment-shop_single wp-post-image" alt="woclo_01_1 (83)" /></a>
                        </div>


                        <div class="wrapper-hover">

                            <div class="product-name">
                                <a href="index1edc.html?product=aero-draped-front-wool-cardigan-2">
                                    Aero Draped-front wool cardigan
                                </a>
                            </div><a class="quickview img-circle hidden-phone hidden-small-desktop hidden-tablet" data-product-id="1017">Quick View</a>
                            <div class="wrapper">


                                <div class="product-price"><del><span class="amount">&pound;174.20</span></del> <ins><span class="amount">&pound;134.00</span></ins></div>


                                <div class="product-tocart"><a href="indexecb2.html?product_cat=dresses&amp;add-to-cart=1017" rel="nofollow" data-product_id="1017" data-product_sku="25" data-wooclass="add_to_cart_button button product_type_simple" class="wft_add_to_cart_button product_type_simple"><i class="icon-basket"></i></a></div>
                                <div class="clearfix"></div>
                            </div>

                        </div>


                        <span class="sort-date hidden">1396632712</span>
                        <span class="sort-price hidden">134.00</span>
                        <span class="sort-product_name hidden">Aero Draped-front wool cardigan</span>
                        <span class="sort-rating hidden">0</span>

                    </div>


                    <div class="preview hidden-tablet hidden-phone " style="display: none;">
                        <div class="wrapper">

                            <div class="col-1">


                                <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2013/12/wocload_01_1_39_.jpg" href="#">
                                    <img class="thumb" alt="" src="~/Content/Buyshop/wp-content/uploads/2013/12/wocload_01_1_39_-63x84.jpg" />
                                </a>


                                <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2013/12/wocload_01_1_40_.jpg" href="#">
                                    <img class="thumb" alt="" src="~/Content/Buyshop/wp-content/uploads/2013/12/wocload_01_1_40_-63x84.jpg" />
                                </a>


                                <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2013/12/wocload_01_1_41_.jpg" href="#">
                                    <img class="thumb" alt="" src="~/Content/Buyshop/wp-content/uploads/2013/12/wocload_01_1_41_-63x84.jpg" />
                                </a>


                            </div>
                            <div class="col-2 with_media">
                                <div class="big_image">
                                    <div class="sale_discount img-rounded">-23%</div><div class="label_sale_top_right">Sale!</div><div class="label_new_top_left">New!</div>				<a href="index1edc.html?product=aero-draped-front-wool-cardigan-2">

                                        <img width="300" height="300" src="~/Content/Buyshop/wp-content/uploads/2013/12/woclo_01_1-83-300x300.jpg" class="attachment-shop_single wp-post-image" alt="woclo_01_1 (83)" />
                                    </a>
                                </div>

                                <div class="wrapper-hover">

                                    <div class="product-name">
                                        <a href="index1edc.html?product=aero-draped-front-wool-cardigan-2">
                                            Aero Draped-front wool cardigan
                                        </a>
                                    </div><a class="quickview img-circle hidden-phone hidden-small-desktop hidden-tablet" data-product-id="1017">Quick View</a>
                                    <div class="wrapper">


                                        <div class="product-price"><del><span class="amount">&pound;174.20</span></del> <ins><span class="amount">&pound;134.00</span></ins></div>


                                        <div class="product-tocart"><a href="indexecb2.html?product_cat=dresses&amp;add-to-cart=1017" rel="nofollow" data-product_id="1017" data-product_sku="25" data-wooclass="add_to_cart_button button product_type_simple" class="wft_add_to_cart_button product_type_simple"><i class="icon-basket"></i></a></div>

                                    </div>
                                    <div class="clearfix"></div>

                                    <div class="product-link">
                                        <a class="wft_add_to_wishlist" href="index7ef8.html?product_cat=dresses&amp;add_to_wishlist=1017" data-product-id="1017" data-product-type="simple">Add to Wishlist</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="span3 product carousel_item new_product post-1022 type-product status-publish has-post-thumbnail product_cat-coats product_cat-dresses product_cat-evening-dresses product_cat-women product_tag-coats product_tag-dress product_tag-dresses product_tag-evening-dresses product_tag-jackets product_tag-jeans product_tag-lingerie product_tag-prom-dresses product_tag-sexy product_tag-shirts product_tag-shorts product_tag-skirts product_tag-style shipping-taxable purchasable product-type-simple product-cat-coats product-cat-dresses product-cat-evening-dresses product-cat-women product-tag-coats product-tag-dress product-tag-dresses product-tag-evening-dresses product-tag-jackets product-tag-jeans product-tag-lingerie product-tag-prom-dresses product-tag-sexy product-tag-shirts product-tag-shorts product-tag-skirts product-tag-style instock">


                        <div class="product-image-wrapper onhover animate scale">
                            <div class="label_video_bot_right">Video</div><div class="label_new_top_left">New!</div>		<a href="indexd351.html?product=angela-dress-3"><img width="300" height="300" src="~/Content/Buyshop/wp-content/uploads/2014/04/wclo_ad_1_1-32-300x300.jpg" class="attachment-shop_single wp-post-image" alt="wclo_ad_1_1 (32)" /></a>
                        </div>


                        <div class="wrapper-hover">

                            <div class="product-name">
                                <a href="indexd351.html?product=angela-dress-3">
                                    Angela Dress
                                </a>
                            </div><a class="quickview img-circle hidden-phone hidden-small-desktop hidden-tablet" data-product-id="1022">Quick View</a>
                            <div class="wrapper">


                                <div class="product-price"><span class="amount">&pound;190.00</span></div>


                                <div class="product-tocart"><a href="index32a5.html?product_cat=dresses&amp;add-to-cart=1022" rel="nofollow" data-product_id="1022" data-product_sku="1" data-wooclass="add_to_cart_button button product_type_simple" class="wft_add_to_cart_button product_type_simple"><i class="icon-basket"></i></a></div>
                                <div class="clearfix"></div>
                            </div>

                        </div>


                        <span class="sort-date hidden">1396633859</span>
                        <span class="sort-price hidden">190</span>
                        <span class="sort-product_name hidden">Angela Dress</span>
                        <span class="sort-rating hidden">0</span>

                    </div>


                    <div class="preview hidden-tablet hidden-phone " style="display: none;">
                        <div class="wrapper">

                            <div class="col-1">


                                <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2014/04/wclo_ad_1_1-33.jpg" href="#">
                                    <img class="thumb" alt="" src="~/Content/Buyshop/wp-content/uploads/2014/04/wclo_ad_1_1-33-63x63.jpg" />
                                </a>


                                <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2014/04/wclo_ad_1_1-32.jpg" href="#">
                                    <img class="thumb" alt="" src="~/Content/Buyshop/wp-content/uploads/2014/04/wclo_ad_1_1-32-63x63.jpg" />
                                </a>


                            </div>
                            <div class="col-2 with_media">
                                <div class="big_image">
                                    <div class="label_video_bot_right">Video</div><div class="label_new_top_left">New!</div>				<a href="indexd351.html?product=angela-dress-3">

                                        <img width="300" height="300" src="~/Content/Buyshop/wp-content/uploads/2014/04/wclo_ad_1_1-32-300x300.jpg" class="attachment-shop_single wp-post-image" alt="wclo_ad_1_1 (32)" />
                                    </a>
                                </div>

                                <div class="wrapper-hover">

                                    <div class="product-name">
                                        <a href="indexd351.html?product=angela-dress-3">
                                            Angela Dress
                                        </a>
                                    </div><a class="quickview img-circle hidden-phone hidden-small-desktop hidden-tablet" data-product-id="1022">Quick View</a>
                                    <div class="wrapper">


                                        <div class="product-price"><span class="amount">&pound;190.00</span></div>


                                        <div class="product-tocart"><a href="index32a5.html?product_cat=dresses&amp;add-to-cart=1022" rel="nofollow" data-product_id="1022" data-product_sku="1" data-wooclass="add_to_cart_button button product_type_simple" class="wft_add_to_cart_button product_type_simple"><i class="icon-basket"></i></a></div>

                                    </div>
                                    <div class="clearfix"></div>

                                    <div class="product-link">
                                        <a class="wft_add_to_wishlist" href="index6791.html?product_cat=dresses&amp;add_to_wishlist=1022" data-product-id="1022" data-product-type="simple">Add to Wishlist</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="span3 product carousel_item post-1016 type-product status-publish has-post-thumbnail product_cat-coats product_cat-dresses product_cat-evening-dresses product_cat-women product_tag-club-dresses product_tag-dresses product_tag-jackets product_tag-lingerie product_tag-shirts product_tag-shorts product_tag-skirts featured shipping-taxable purchasable product-type-simple product-cat-coats product-cat-dresses product-cat-evening-dresses product-cat-women product-tag-club-dresses product-tag-dresses product-tag-jackets product-tag-lingerie product-tag-shirts product-tag-shorts product-tag-skirts instock">


                        <div class="product-image-wrapper onhover animate scale">
                            <a href="index0657.html?product=asymmetric-embellished-silk-dress-2"><img width="300" height="300" src="~/Content/Buyshop/wp-content/uploads/2014/04/wclo_ad_1_1-44-300x300.jpg" class="attachment-shop_single wp-post-image" alt="wclo_ad_1_1 (44)" /></a>
                        </div>


                        <div class="wrapper-hover">

                            <div class="product-name">
                                <a href="index0657.html?product=asymmetric-embellished-silk-dress-2">
                                    Asymmetric silk dress
                                </a>
                            </div><a class="quickview img-circle hidden-phone hidden-small-desktop hidden-tablet" data-product-id="1016">Quick View</a>
                            <div class="wrapper">


                                <div class="product-price"><span class="amount">&pound;330.00</span></div>


                                <div class="product-tocart"><a href="indexc4a7.html?product_cat=dresses&amp;add-to-cart=1016" rel="nofollow" data-product_id="1016" data-product_sku="9" data-wooclass="add_to_cart_button button product_type_simple" class="wft_add_to_cart_button product_type_simple"><i class="icon-basket"></i></a></div>
                                <div class="clearfix"></div>
                            </div>

                        </div>


                        <span class="sort-date hidden">1396631590</span>
                        <span class="sort-price hidden">330</span>
                        <span class="sort-product_name hidden">Asymmetric silk dress</span>
                        <span class="sort-rating hidden">0</span>

                    </div>


                    <div class="preview hidden-tablet hidden-phone " style="display: none;">
                        <div class="wrapper">

                            <div class="col-1">


                                <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2014/04/wclo_ad_1_1-45.jpg" href="#">
                                    <img class="thumb" alt="" src="~/Content/Buyshop/wp-content/uploads/2014/04/wclo_ad_1_1-45-63x63.jpg" />
                                </a>


                                <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2014/04/wclo_ad_1_1-44.jpg" href="#">
                                    <img class="thumb" alt="" src="~/Content/Buyshop/wp-content/uploads/2014/04/wclo_ad_1_1-44-63x63.jpg" />
                                </a>


                            </div>
                            <div class="col-2 with_media">
                                <div class="big_image">
                                    <a href="index0657.html?product=asymmetric-embellished-silk-dress-2">

                                        <img width="300" height="300" src="~/Content/Buyshop/wp-content/uploads/2014/04/wclo_ad_1_1-44-300x300.jpg" class="attachment-shop_single wp-post-image" alt="wclo_ad_1_1 (44)" />
                                    </a>
                                </div>

                                <div class="wrapper-hover">

                                    <div class="product-name">
                                        <a href="index0657.html?product=asymmetric-embellished-silk-dress-2">
                                            Asymmetric silk dress
                                        </a>
                                    </div><a class="quickview img-circle hidden-phone hidden-small-desktop hidden-tablet" data-product-id="1016">Quick View</a>
                                    <div class="wrapper">


                                        <div class="product-price"><span class="amount">&pound;330.00</span></div>


                                        <div class="product-tocart"><a href="indexc4a7.html?product_cat=dresses&amp;add-to-cart=1016" rel="nofollow" data-product_id="1016" data-product_sku="9" data-wooclass="add_to_cart_button button product_type_simple" class="wft_add_to_cart_button product_type_simple"><i class="icon-basket"></i></a></div>

                                    </div>
                                    <div class="clearfix"></div>

                                    <div class="product-link">
                                        <a class="wft_add_to_wishlist" href="index210c.html?product_cat=dresses&amp;add_to_wishlist=1016" data-product-id="1016" data-product-type="simple">Add to Wishlist</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="span3 product carousel_item post-16 type-product status-publish has-post-thumbnail product_cat-club-dresses product_cat-dresses product_cat-women product_tag-dress product_tag-sexy product_tag-style sale shipping-taxable purchasable product-type-simple product-cat-club-dresses product-cat-dresses product-cat-women product-tag-dress product-tag-sexy product-tag-style instock">


                        <div class="product-image-wrapper onhover animate scale">
                            <div class="sale_discount img-rounded">-16%</div><div class="label_sale_top_right">Sale!</div>		<a href="indexa932.html?product=azrouel-dress"><img width="300" height="300" src="~/Content/Buyshop/wp-content/uploads/2013/12/woclo_01_1-48-300x300.jpg" class="attachment-shop_single wp-post-image" alt="woclo_01_1 (48)" /></a>
                        </div>


                        <div class="wrapper-hover">

                            <div class="product-name">
                                <a href="indexa932.html?product=azrouel-dress">
                                    Azrouel Dress
                                </a>
                            </div><a class="quickview img-circle hidden-phone hidden-small-desktop hidden-tablet" data-product-id="16">Quick View</a>
                            <div class="wrapper">


                                <div class="product-price"><del><span class="amount">&pound;240.00</span></del> <ins><span class="amount">&pound;200.00</span></ins></div>


                                <div class="product-tocart"><a href="indexb728.html?product_cat=dresses&amp;add-to-cart=16" rel="nofollow" data-product_id="16" data-product_sku="1" data-wooclass="add_to_cart_button button product_type_simple" class="wft_add_to_cart_button product_type_simple"><i class="icon-basket"></i></a></div>
                                <div class="clearfix"></div>
                            </div>

                        </div>


                        <span class="sort-date hidden">1386584700</span>
                        <span class="sort-price hidden">200</span>
                        <span class="sort-product_name hidden">Azrouel Dress</span>
                        <span class="sort-rating hidden">0</span>

                    </div>


                    <div class="preview hidden-tablet hidden-phone " style="display: none;">
                        <div class="wrapper">

                            <div class="col-1">


                                <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2014/03/1080_1080.jpg" href="#">
                                    <img class="thumb" alt="" src="~/Content/Buyshop/wp-content/uploads/2014/03/1080_1080-63x63.jpg" />
                                </a>


                                <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2013/12/woclo_01_1-46.jpg" href="#">
                                    <img class="thumb" alt="" src="~/Content/Buyshop/wp-content/uploads/2013/12/woclo_01_1-46-63x63.jpg" />
                                </a>


                                <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2013/12/woclo_01_1-47.jpg" href="#">
                                    <img class="thumb" alt="" src="~/Content/Buyshop/wp-content/uploads/2013/12/woclo_01_1-47-63x63.jpg" />
                                </a>


                            </div>
                            <div class="col-2 with_media">
                                <div class="big_image">
                                    <div class="sale_discount img-rounded">-16%</div><div class="label_sale_top_right">Sale!</div>				<a href="indexa932.html?product=azrouel-dress">

                                        <img width="300" height="300" src="~/Content/Buyshop/wp-content/uploads/2013/12/woclo_01_1-48-300x300.jpg" class="attachment-shop_single wp-post-image" alt="woclo_01_1 (48)" />
                                    </a>
                                </div>

                                <div class="wrapper-hover">

                                    <div class="product-name">
                                        <a href="indexa932.html?product=azrouel-dress">
                                            Azrouel Dress
                                        </a>
                                    </div><a class="quickview img-circle hidden-phone hidden-small-desktop hidden-tablet" data-product-id="16">Quick View</a>
                                    <div class="wrapper">


                                        <div class="product-price"><del><span class="amount">&pound;240.00</span></del> <ins><span class="amount">&pound;200.00</span></ins></div>


                                        <div class="product-tocart"><a href="indexb728.html?product_cat=dresses&amp;add-to-cart=16" rel="nofollow" data-product_id="16" data-product_sku="1" data-wooclass="add_to_cart_button button product_type_simple" class="wft_add_to_cart_button product_type_simple"><i class="icon-basket"></i></a></div>

                                    </div>
                                    <div class="clearfix"></div>

                                    <div class="product-link">
                                        <a class="wft_add_to_wishlist" href="index38bf.html?product_cat=dresses&amp;add_to_wishlist=16" data-product-id="16" data-product-type="simple">Add to Wishlist</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="span3 product carousel_item new_product post-1020 type-product status-publish has-post-thumbnail product_cat-dresses product_cat-jackets product_cat-prom-dresses product_cat-women product_tag-club-dresses product_tag-coats product_tag-dresses product_tag-evening-dresses product_tag-jackets product_tag-lingerie product_tag-shirts product_tag-shorts product_tag-skirts featured shipping-taxable purchasable product-type-simple product-cat-dresses product-cat-jackets product-cat-prom-dresses product-cat-women product-tag-club-dresses product-tag-coats product-tag-dresses product-tag-evening-dresses product-tag-jackets product-tag-lingerie product-tag-shirts product-tag-shorts product-tag-skirts instock">


                        <div class="product-image-wrapper onhover animate scale">
                            <div class="label_new_top_left">New!</div>		<a href="index5144.html?product=bandage-dress-2"><img width="300" height="300" src="~/Content/Buyshop/wp-content/uploads/2013/12/woclo_01_1-52-300x300.jpg" class="attachment-shop_single wp-post-image" alt="woclo_01_1 (52)" /></a>
                        </div>


                        <div class="wrapper-hover">

                            <div class="product-name">
                                <a href="index5144.html?product=bandage-dress-2">
                                    Bandage dress
                                </a>
                            </div><a class="quickview img-circle hidden-phone hidden-small-desktop hidden-tablet" data-product-id="1020">Quick View</a>
                            <div class="wrapper">


                                <div class="product-price"><span class="amount">&pound;870.00</span></div>


                                <div class="product-tocart"><a href="index83c9.html?product_cat=dresses&amp;add-to-cart=1020" rel="nofollow" data-product_id="1020" data-product_sku="13" data-wooclass="add_to_cart_button button product_type_simple" class="wft_add_to_cart_button product_type_simple"><i class="icon-basket"></i></a></div>
                                <div class="clearfix"></div>
                            </div>

                        </div>


                        <span class="sort-date hidden">1396632971</span>
                        <span class="sort-price hidden">870</span>
                        <span class="sort-product_name hidden">Bandage dress</span>
                        <span class="sort-rating hidden">0</span>

                    </div>


                    <div class="preview hidden-tablet hidden-phone " style="display: none;">
                        <div class="wrapper">

                            <div class="col-1">


                                <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2013/12/woclo_01_1-53.jpg" href="#">
                                    <img class="thumb" alt="" src="~/Content/Buyshop/wp-content/uploads/2013/12/woclo_01_1-53-63x63.jpg" />
                                </a>


                                <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2013/12/woclo_01_1-52.jpg" href="#">
                                    <img class="thumb" alt="" src="~/Content/Buyshop/wp-content/uploads/2013/12/woclo_01_1-52-63x63.jpg" />
                                </a>


                                <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2013/12/woclo_01_1-51.jpg" href="#">
                                    <img class="thumb" alt="" src="~/Content/Buyshop/wp-content/uploads/2013/12/woclo_01_1-51-63x63.jpg" />
                                </a>


                            </div>
                            <div class="col-2 with_media">
                                <div class="big_image">
                                    <div class="label_new_top_left">New!</div>				<a href="index5144.html?product=bandage-dress-2">

                                        <img width="300" height="300" src="~/Content/Buyshop/wp-content/uploads/2013/12/woclo_01_1-52-300x300.jpg" class="attachment-shop_single wp-post-image" alt="woclo_01_1 (52)" />
                                    </a>
                                </div>

                                <div class="wrapper-hover">

                                    <div class="product-name">
                                        <a href="index5144.html?product=bandage-dress-2">
                                            Bandage dress
                                        </a>
                                    </div><a class="quickview img-circle hidden-phone hidden-small-desktop hidden-tablet" data-product-id="1020">Quick View</a>
                                    <div class="wrapper">


                                        <div class="product-price"><span class="amount">&pound;870.00</span></div>


                                        <div class="product-tocart"><a href="index83c9.html?product_cat=dresses&amp;add-to-cart=1020" rel="nofollow" data-product_id="1020" data-product_sku="13" data-wooclass="add_to_cart_button button product_type_simple" class="wft_add_to_cart_button product_type_simple"><i class="icon-basket"></i></a></div>

                                    </div>
                                    <div class="clearfix"></div>

                                    <div class="product-link">
                                        <a class="wft_add_to_wishlist" href="indexa9b3.html?product_cat=dresses&amp;add_to_wishlist=1020" data-product-id="1020" data-product-type="simple">Add to Wishlist</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="span3 product carousel_item post-831 type-product status-publish has-post-thumbnail product_cat-dresses product_cat-jackets product_cat-prom-dresses product_cat-women featured shipping-taxable purchasable product-type-simple product-cat-dresses product-cat-jackets product-cat-prom-dresses product-cat-women instock">


                        <div class="product-image-wrapper onhover animate scale">
                            <a href="index9102.html?product=beaded-silk-dress"><img width="300" height="300" src="~/Content/Buyshop/wp-content/uploads/2014/04/wclo_ad_1_1-20-300x300.jpg" class="attachment-shop_single wp-post-image" alt="wclo_ad_1_1 (20)" /></a>
                        </div>


                        <div class="wrapper-hover">

                            <div class="product-name">
                                <a href="index9102.html?product=beaded-silk-dress">
                                    Beaded silk dress
                                </a>
                            </div><a class="quickview img-circle hidden-phone hidden-small-desktop hidden-tablet" data-product-id="831">Quick View</a>
                            <div class="wrapper">


                                <div class="product-price"><span class="amount">&pound;650.00</span></div>


                                <div class="product-tocart"><a href="index5c3c.html?product_cat=dresses&amp;add-to-cart=831" rel="nofollow" data-product_id="831" data-product_sku="13" data-wooclass="add_to_cart_button button product_type_simple" class="wft_add_to_cart_button product_type_simple"><i class="icon-basket"></i></a></div>
                                <div class="clearfix"></div>
                            </div>

                        </div>


                        <span class="sort-date hidden">1396620601</span>
                        <span class="sort-price hidden">650</span>
                        <span class="sort-product_name hidden">Beaded silk dress</span>
                        <span class="sort-rating hidden">0</span>

                    </div>


                    <div class="preview hidden-tablet hidden-phone " style="display: none;">
                        <div class="wrapper">

                            <div class="col-1">


                                <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2014/04/wclo_ad_1_1-21.jpg" href="#">
                                    <img class="thumb" alt="" src="~/Content/Buyshop/wp-content/uploads/2014/04/wclo_ad_1_1-21-63x63.jpg" />
                                </a>


                                <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2014/04/wclo_ad_1_1-20.jpg" href="#">
                                    <img class="thumb" alt="" src="~/Content/Buyshop/wp-content/uploads/2014/04/wclo_ad_1_1-20-63x63.jpg" />
                                </a>


                            </div>
                            <div class="col-2 with_media">
                                <div class="big_image">
                                    <a href="index9102.html?product=beaded-silk-dress">

                                        <img width="300" height="300" src="~/Content/Buyshop/wp-content/uploads/2014/04/wclo_ad_1_1-20-300x300.jpg" class="attachment-shop_single wp-post-image" alt="wclo_ad_1_1 (20)" />
                                    </a>
                                </div>

                                <div class="wrapper-hover">

                                    <div class="product-name">
                                        <a href="index9102.html?product=beaded-silk-dress">
                                            Beaded silk dress
                                        </a>
                                    </div><a class="quickview img-circle hidden-phone hidden-small-desktop hidden-tablet" data-product-id="831">Quick View</a>
                                    <div class="wrapper">


                                        <div class="product-price"><span class="amount">&pound;650.00</span></div>


                                        <div class="product-tocart"><a href="index5c3c.html?product_cat=dresses&amp;add-to-cart=831" rel="nofollow" data-product_id="831" data-product_sku="13" data-wooclass="add_to_cart_button button product_type_simple" class="wft_add_to_cart_button product_type_simple"><i class="icon-basket"></i></a></div>

                                    </div>
                                    <div class="clearfix"></div>

                                    <div class="product-link">
                                        <a class="wft_add_to_wishlist" href="index2d2d.html?product_cat=dresses&amp;add_to_wishlist=831" data-product-id="831" data-product-type="simple">Add to Wishlist</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="span3 product carousel_item post-125 type-product status-publish has-post-thumbnail product_cat-coats product_cat-dresses product_cat-evening-dresses product_cat-women featured shipping-taxable purchasable product-type-simple product-cat-coats product-cat-dresses product-cat-evening-dresses product-cat-women instock">


                        <div class="product-image-wrapper onhover animate scale">
                            <div class="label_video_bot_right">Video</div>		<a href="index17db.html?product=carven-gabardine-dress"><img width="300" height="300" src="~/Content/Buyshop/wp-content/uploads/2014/04/wclo_ad_1_1-24-300x300.jpg" class="attachment-shop_single wp-post-image" alt="wclo_ad_1_1 (24)" /></a>
                        </div>


                        <div class="wrapper-hover">

                            <div class="product-name">
                                <a href="index17db.html?product=carven-gabardine-dress">
                                    Carven &#8211; Gabardine Dress
                                </a>
                            </div><a class="quickview img-circle hidden-phone hidden-small-desktop hidden-tablet" data-product-id="125">Quick View</a>
                            <div class="wrapper">

                                <div class="star-rating" title="Rated 4.00 out of 5"><span style="width:80%"><strong class="rating">4.00</strong> out of 5</span></div>
                                <div class="product-price"><span class="amount">&pound;167.50</span></div>


                                <div class="product-tocart"><a href="index9047.html?product_cat=dresses&amp;add-to-cart=125" rel="nofollow" data-product_id="125" data-product_sku="8" data-wooclass="add_to_cart_button button product_type_simple" class="wft_add_to_cart_button product_type_simple"><i class="icon-basket"></i></a></div>
                                <div class="clearfix"></div>
                            </div>

                        </div>


                        <span class="sort-date hidden">1386768102</span>
                        <span class="sort-price hidden">167.50</span>
                        <span class="sort-product_name hidden">Carven &#8211; Gabardine Dress</span>
                        <span class="sort-rating hidden">4</span>

                    </div>


                    <div class="preview hidden-tablet hidden-phone " style="display: none;">
                        <div class="wrapper">

                            <div class="col-1">


                                <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2014/04/wclo_ad_1_1-25.jpg" href="#">
                                    <img class="thumb" alt="" src="~/Content/Buyshop/wp-content/uploads/2014/04/wclo_ad_1_1-25-63x63.jpg" />
                                </a>


                                <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2014/04/wclo_ad_1_1-24.jpg" href="#">
                                    <img class="thumb" alt="" src="~/Content/Buyshop/wp-content/uploads/2014/04/wclo_ad_1_1-24-63x63.jpg" />
                                </a>


                            </div>
                            <div class="col-2 with_media">
                                <div class="big_image">
                                    <div class="label_video_bot_right">Video</div>				<a href="index17db.html?product=carven-gabardine-dress">

                                        <img width="300" height="300" src="~/Content/Buyshop/wp-content/uploads/2014/04/wclo_ad_1_1-24-300x300.jpg" class="attachment-shop_single wp-post-image" alt="wclo_ad_1_1 (24)" />
                                    </a>
                                </div>

                                <div class="wrapper-hover">

                                    <div class="product-name">
                                        <a href="index17db.html?product=carven-gabardine-dress">
                                            Carven &#8211; Gabardine Dress
                                        </a>
                                    </div><a class="quickview img-circle hidden-phone hidden-small-desktop hidden-tablet" data-product-id="125">Quick View</a>
                                    <div class="wrapper">

                                        <div class="star-rating" title="Rated 4.00 out of 5"><span style="width:80%"><strong class="rating">4.00</strong> out of 5</span></div>
                                        <div class="product-price"><span class="amount">&pound;167.50</span></div>


                                        <div class="product-tocart"><a href="index9047.html?product_cat=dresses&amp;add-to-cart=125" rel="nofollow" data-product_id="125" data-product_sku="8" data-wooclass="add_to_cart_button button product_type_simple" class="wft_add_to_cart_button product_type_simple"><i class="icon-basket"></i></a></div>

                                    </div>
                                    <div class="clearfix"></div>

                                    <div class="product-link">
                                        <a class="wft_add_to_wishlist" href="index1ff6.html?product_cat=dresses&amp;add_to_wishlist=125" data-product-id="125" data-product-type="simple">Add to Wishlist</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="span3 product carousel_item post-721 type-product status-publish has-post-thumbnail product_cat-club-dresses product_cat-dresses product_cat-women product_tag-dress product_tag-sexy product_tag-style sale shipping-taxable purchasable product-type-simple product-cat-club-dresses product-cat-dresses product-cat-women product-tag-dress product-tag-sexy product-tag-style instock">


                        <div class="product-image-wrapper onhover animate scale">
                            <div class="sale_discount img-rounded">-20%</div><div class="label_sale_top_right">Sale!</div>		<a href="index4442.html?product=contrasting-ruffle-cocktail"><img width="300" height="300" src="~/Content/Buyshop/wp-content/uploads/2013/12/woclo_01_1-70-300x300.jpg" class="attachment-shop_single wp-post-image" alt="woclo_01_1 (70)" /></a>
                        </div>


                        <div class="wrapper-hover">

                            <div class="product-name">
                                <a href="index4442.html?product=contrasting-ruffle-cocktail">
                                    Contrasting Ruffle Cocktail
                                </a>
                            </div><a class="quickview img-circle hidden-phone hidden-small-desktop hidden-tablet" data-product-id="721">Quick View</a>
                            <div class="wrapper">


                                <div class="product-price"><del><span class="amount">&pound;175.00</span></del> <ins><span class="amount">&pound;140.00</span></ins></div>


                                <div class="product-tocart"><a href="index317b.html?product_cat=dresses&amp;add-to-cart=721" rel="nofollow" data-product_id="721" data-product_sku="1" data-wooclass="add_to_cart_button button product_type_simple" class="wft_add_to_cart_button product_type_simple"><i class="icon-basket"></i></a></div>
                                <div class="clearfix"></div>
                            </div>

                        </div>


                        <span class="sort-date hidden">1396618526</span>
                        <span class="sort-price hidden">140</span>
                        <span class="sort-product_name hidden">Contrasting Ruffle Cocktail</span>
                        <span class="sort-rating hidden">0</span>

                    </div>


                    <div class="preview hidden-tablet hidden-phone " style="display: none;">
                        <div class="wrapper">

                            <div class="col-1">


                                <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2013/12/woclo_01_1-72.jpg" href="#">
                                    <img class="thumb" alt="" src="~/Content/Buyshop/wp-content/uploads/2013/12/woclo_01_1-72-63x63.jpg" />
                                </a>


                                <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2013/12/woclo_01_1-71.jpg" href="#">
                                    <img class="thumb" alt="" src="~/Content/Buyshop/wp-content/uploads/2013/12/woclo_01_1-71-63x63.jpg" />
                                </a>


                                <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2013/12/woclo_01_1-70.jpg" href="#">
                                    <img class="thumb" alt="" src="~/Content/Buyshop/wp-content/uploads/2013/12/woclo_01_1-70-63x63.jpg" />
                                </a>


                            </div>
                            <div class="col-2 with_media">
                                <div class="big_image">
                                    <div class="sale_discount img-rounded">-20%</div><div class="label_sale_top_right">Sale!</div>				<a href="index4442.html?product=contrasting-ruffle-cocktail">

                                        <img width="300" height="300" src="~/Content/Buyshop/wp-content/uploads/2013/12/woclo_01_1-70-300x300.jpg" class="attachment-shop_single wp-post-image" alt="woclo_01_1 (70)" />
                                    </a>
                                </div>

                                <div class="wrapper-hover">

                                    <div class="product-name">
                                        <a href="index4442.html?product=contrasting-ruffle-cocktail">
                                            Contrasting Ruffle Cocktail
                                        </a>
                                    </div><a class="quickview img-circle hidden-phone hidden-small-desktop hidden-tablet" data-product-id="721">Quick View</a>
                                    <div class="wrapper">


                                        <div class="product-price"><del><span class="amount">&pound;175.00</span></del> <ins><span class="amount">&pound;140.00</span></ins></div>


                                        <div class="product-tocart"><a href="index317b.html?product_cat=dresses&amp;add-to-cart=721" rel="nofollow" data-product_id="721" data-product_sku="1" data-wooclass="add_to_cart_button button product_type_simple" class="wft_add_to_cart_button product_type_simple"><i class="icon-basket"></i></a></div>

                                    </div>
                                    <div class="clearfix"></div>

                                    <div class="product-link">
                                        <a class="wft_add_to_wishlist" href="index09cb.html?product_cat=dresses&amp;add_to_wishlist=721" data-product-id="721" data-product-type="simple">Add to Wishlist</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="listing_header_row1">
                    <div class="pull-left">
                        <form class="woocommerce-ordering" method="get">
                            <label>Sort by:</label>
                            <select name="orderby" class="orderby_ajax">
                                <option value="menu_order" selected='selected'>Default</option>
                                <option value="popularity">Popularity</option>
                                <option value="rating">Average rating</option>
                                <option value="date">Newness</option>
                                <option value="price">Price: low to high</option>
                                <option value="price_desc">Price: high to low</option>
                            </select>
                            <input type="hidden" name="product_cat" value="dresses" />
                            <input type="hidden" name="product_cat" value="dresses" />

                        </form>
                    </div>

                </div>
                <div class="line1"></div>			<div class="listing_header_row2">
                    <div class="pull-left">
                        <p class="woocommerce-result-count">
                            Showing 1–9 of 18 results
                        </p>
                    </div>
                    <div class="pull-right wft_pagination">
                        <div class="num pagination_ajax">
                            <span class='page-numbers current'>1</span>
                            <a class='page-numbers' href='index55d1.html?product_cat=dresses&amp;paged=2'>2</a>
                            <a class="next page-numbers" href="index55d1.html?product_cat=dresses&amp;paged=2">&rarr;</a>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>

            </div>


            <div id="column_left" class="span3">
                <div class="row">
                    <div class="span3">
                        <div id="product_categories-3" class="block woocommerce widget_product_categories">
                            <div class="block-title"><strong><span>Listing</span></strong></div><ul class="product-categories collapsed-menu">
                                <li class="level1 cat-item cat-item-38">
                                    <a href="indexefad.html?product_cat=man">Man</a><span class="collapse_button">+</span><ul class="level1 children" style="display: none;">
                                        <li class="level2 cat-item cat-item-42"><a href="index3218.html?product_cat=jeans-man">Jeans</a></li>
                                        <li class="level2 cat-item cat-item-41"><a href="indexc842.html?product_cat=jumpers">Jumpers</a></li>
                                        <li class="level2 cat-item cat-item-39"><a href="index2b84.html?product_cat=polo-shirts">Polo Shirts</a></li>
                                        <li class="level2 cat-item cat-item-40"><a href="index90fd.html?product_cat=shirts-man">Shirts</a></li>
                                    </ul>
                                </li>
                                <li class="level1 cat-item cat-item-26 current-cat-parent">
                                    <a href="index90fa.html?product_cat=women">Women</a><span class="collapse_button">+</span><ul class="level1 children" style="display: none;">
                                        <li class="level2 cat-item cat-item-32"><a href="index0835.html?product_cat=coats">Coats</a></li>
                                        <li class="level2 cat-item cat-item-27 current-cat">
                                            <a href="index3a7f.html?product_cat=dresses">Dresses</a><span class="collapse_button">+</span>	<ul class="level2 children" style="display: none;">
                                                <li class="level3 cat-item cat-item-28"><a href="index156d.html?product_cat=club-dresses">Club Dresses</a></li>
                                                <li class="level3 cat-item cat-item-29"><a href="index8c35.html?product_cat=evening-dresses">Evening Dresses</a></li>
                                                <li class="level3 cat-item cat-item-30"><a href="index1e07.html?product_cat=prom-dresses">Prom Dresses</a></li>
                                            </ul>
                                        </li>
                                        <li class="level2 cat-item cat-item-33"><a href="index18d8.html?product_cat=jackets">Jackets</a></li>
                                        <li class="level2 cat-item cat-item-35"><a href="indexd1f0.html?product_cat=jeans">Jeans</a></li>
                                        <li class="level2 cat-item cat-item-37"><a href="index8104.html?product_cat=lingerie">Lingerie</a></li>
                                        <li class="level2 cat-item cat-item-31"><a href="index6b3e.html?product_cat=shirts">Shirts</a></li>
                                        <li class="level2 cat-item cat-item-34"><a href="indexe20d.html?product_cat=shorts">Shorts</a></li>
                                        <li class="level2 cat-item cat-item-36"><a href="index64d2.html?product_cat=skirts">Skirts</a></li>
                                    </ul>
                                </li>
                            </ul><div class="clearfix"></div>
                        </div><!-- //sidebar-widget --><div id="woocommerce_price_filter-2" class="block woocommerce widget_price_filter">
                            <div class="block-title"><strong><span>Filter by price</span></strong></div><form method="get" action="http://demo.ethemeuk.com/buyshop/woocommerce/demo?product_cat=dresses">
                                <div class="price_slider_wrapper">
                                    <div class="price_slider" style="display:none;"></div>
                                    <div class="price_slider_amount">
                                        <input type="text" id="min_price" name="min_price" value="" data-min="40" placeholder="Min price" />
                                        <input type="text" id="max_price" name="max_price" value="" data-max="2300" placeholder="Max price" />
                                        <button type="submit" class="button">Filter</button>
                                        <div class="price_label" style="display:none;">
                                            Price: <span class="from"></span> &mdash; <span class="to"></span>
                                        </div>
                                        <input type="hidden" name="product_cat" value="dresses" />
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </form><div class="clearfix"></div>
                        </div><!-- //sidebar-widget --><div id="tag_cloud-2" class="block widget_tag_cloud">
                            <div class="block-title"><strong><span>Popular Tags</span></strong></div><div class="tagcloud">
                                <a href='index85f0.html?product_tag=club-dresses' class='tag-link-28' title='24 topics' style='font-size: 20.504854368932pt;'>Club Dresses</a>
                                <a href='index58b0.html?product_tag=coats' class='tag-link-32' title='7 topics' style='font-size: 13.708737864078pt;'>Coats</a>
                                <a href='indexf3cf.html?product_tag=dress' class='tag-link-20' title='6 topics' style='font-size: 13.029126213592pt;'>dress</a>
                                <a href='index29d8.html?product_tag=dresses' class='tag-link-27' title='31 topics' style='font-size: 22pt;'>Dresses</a>
                                <a href='index5cca.html?product_tag=evening-dresses' class='tag-link-29' title='7 topics' style='font-size: 13.708737864078pt;'>Evening Dresses</a>
                                <a href='index4463.html?product_tag=jackets' class='tag-link-33' title='15 topics' style='font-size: 17.78640776699pt;'>Jackets</a>
                                <a href='index9b10.html?product_tag=jeans' class='tag-link-35' title='7 topics' style='font-size: 13.708737864078pt;'>Jeans</a>
                                <a href='index1edb.html?product_tag=lingerie' class='tag-link-37' title='16 topics' style='font-size: 18.194174757282pt;'>Lingerie</a>
                                <a href='index93dd.html?product_tag=prom-dresses' class='tag-link-30' title='7 topics' style='font-size: 13.708737864078pt;'>Prom Dresses</a>
                                <a href='indexdcd6.html?product_tag=sexy' class='tag-link-22' title='6 topics' style='font-size: 13.029126213592pt;'>sexy</a>
                                <a href='index926a.html?product_tag=shirts' class='tag-link-31' title='15 topics' style='font-size: 17.78640776699pt;'>Shirts</a>
                                <a href='indexa20d.html?product_tag=shorts' class='tag-link-34' title='16 topics' style='font-size: 18.194174757282pt;'>Shorts</a>
                                <a href='indexe67f.html?product_tag=silk' class='tag-link-23' title='2 topics' style='font-size: 8pt;'>silk</a>
                                <a href='index696b.html?product_tag=skirts' class='tag-link-36' title='16 topics' style='font-size: 18.194174757282pt;'>Skirts</a>
                                <a href='indexce0e.html?product_tag=strapless' class='tag-link-24' title='2 topics' style='font-size: 8pt;'>strapless</a>
                                <a href='indexcffa.html?product_tag=style' class='tag-link-25' title='4 topics' style='font-size: 10.990291262136pt;'>style</a>
                            </div>
                            <div class="clearfix"></div>
                        </div><!-- //sidebar-widget --><div id="wft-static-block-2" class="block wft_widget_satic_block">
                            <div class="banners_outer">
                                <div class="flexslider banners">

                                    <div class="flex-viewport" style="overflow: hidden; position: relative;">
                                        <ul class="slides" style="width: 1000%; transition-duration: 0.6s; transform: translate3d(-768px, 0px, 0px);">
                                            <li class="clone" style="width: 256px; float: left; display: block;"> <a href="#"><img alt="" src="~/Content/Buyshop/wp-content/uploads/2014/01/banner3.jpg"></a> </li>
                                            <li style="width: 256px; float: left; display: block;" class=""> <a href="#"><img alt="" src="~/Content/Buyshop/wp-content/uploads/2014/01/banner1.jpg"></a> </li>
                                            <li style="width: 256px; float: left; display: block;" class=""> <a href="#"><img alt="" src="~/Content/Buyshop/wp-content/uploads/2014/01/banner2.jpg"></a> </li>
                                            <li style="width: 256px; float: left; display: block;" class="flex-active-slide"> <a href="#"><img alt="" src="~/Content/Buyshop/wp-content/uploads/2014/01/banner3.jpg"></a> </li>
                                            <li style="width: 256px; float: left; display: block;" class="clone"> <a href="#"><img alt="" src="~/Content/Buyshop/wp-content/uploads/2014/01/banner1.jpg"></a> </li>
                                        </ul>
                                    </div><ul class="flex-direction-nav"><li><a href="#" class="flex-prev"><i class="icon-left-thin"></i></a></li><li><a href="#" class="flex-next"><i class="icon-right-thin"></i></a></li></ul>
                                </div>
                            </div><div class="clearfix"></div>
                        </div><!-- //sidebar-widget -->
                    </div>
                </div>
            </div>



        </div>
    </div>
</section>
