@using BanleWebsite.Models
@using BanleWebsite.Services;
@{
    ViewBag.Title = "Submit Form đại lí thành công";

}

<style>
    body {
        background-image: url('../../Content/SiteImages/BGR1.jpg');
        background-size: 100%;
        background-attachment: fixed;
    }

    tr {
        border-top: 1px solid #dbd7d7;
    }

    th {
        border-top: 3px solid #8200d0;
        text-align: left;
        padding: 10px;
    }

    .stt {
        max-width: 20px;
    }

    td {
        padding: 10px !important;
        min-width: 80px;
        vertical-align: middle;
    }

    #orderReview {
        border: 3px solid #8200d0;
    }

    h2, h3, h4, h5, p {
        font-family: Tahoma;
    }
</style>



<div class="container">
    <div style="background-color:#fff; margin:auto; width:85%; padding-bottom:20px;">

        <div id="orderReview" style="display:block; margin:auto; font-family:Tahoma; max-width:75%; overflow-x:auto;">
            
            <div>
                <p style="text-align:center; line-height: 1.5; color:#6e0ea8; font-size:16px; padding: 18px;">
                    Form của quý khách đã được ghi nhận! <br />
                    Chúng tôi sẽ gọi đến quý khách để xác nhận đơn hàng một cách sớm nhất. <br />
                    CẢM ƠN QUÝ KHÁCH ĐÃ MUA HÀNG TẠI YOUR FASHION! <br />
                </p>

                
            </div>
            
        </div>
        <p style="text-align:center; line-height: 1.5; color:#6e0ea8; font-size:16px; padding: 18px;">
            <a href="/">Về trang chủ</a>
        </p>
    </div>
    
</div>