
@{
    ViewBag.Title = "Index";
}


<section id="content">
    <div class="container top" role="main">
        <div class="content_top">
            <div class="wrapper_w">
                <div class="pull-left">
                    <div class="breadcrumbs">
                        <a class="home" href="http://demo.ethemeuk.com/buyshop/woocommerce/demo">Home</a><span>›</span>
                        <a href="index90fa.html?product_cat=women">Women</a><span>›</span>
                        <a href="index3a7f.html?product_cat=dresses">Dresses</a><span>›</span>
                        <a href="index1e07.html?product_cat=prom-dresses">Prom Dresses</a><span>›</span>
                        <a href="#">A.L.C &#8211; Gerry Dress</a>
                    </div>
                </div>
                <div class="pull-right">
                    <div class="direction-nav">
                        <span class="prev">
                            <a href="indexa932.html?product=azrouel-dress" rel="prev">
                                <i class="icon-left-thin"></i>
                            </a>
                            <div class="small_preview prev hidden-phone hidden-tablet" style="display: none;">
                                <img width="150" height="150" src="~/Content/Buyshop/wp-content/uploads/2013/12/woclo_01_1-48-150x150.jpg" class="attachment-thumbnail wp-post-image" alt="woclo_01_1 (48)" />
                            </div>
                        </span>
                        <span class="next">
                            <a href="index23b4.html?product=embroidered-lace-thong" rel="next">
                                <i class="icon-right-thin"></i>
                            </a>
                            <div class="small_preview next hidden-phone hidden-tablet" style="display: none;">
                                <img width="150" height="150" src="~/Content/Buyshop/wp-content/uploads/2013/12/woclo_01_1-87-150x150.jpg" class="attachment-thumbnail wp-post-image" alt="woclo_01_1 (87)" />
                            </div>
                        </span>

                    </div>
                </div>
            </div>
        </div>



        <div itemscope itemtype="http://schema.org/Product" id="product-78" class="product-box">
            <div class="row">

                <div class="span5">
                    <div class="product-img-box">
                        <div class="row">
                            <div class="span1">

                                <div class="flexslider more-views">

                                    <ul class="slides">

                                        <li><a href="~/Content/Buyshop/wp-content/uploads/2014/04/wclo_ad_1_1-22.jpg" class="cloud-zoom-gallery" title="wclo_ad_1_1 (22)" rel="prettyPhoto[product-gallery]" data-rel="useZoom: 'zoom1', smallImage: 'http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2014/04/wclo_ad_1_1-22.jpg'" alt="" width="62" height="62"><img src="~/Content/Buyshop/wp-content/uploads/2014/04/wclo_ad_1_1-22-63x63.jpg" /></a></li></li>
                                        <li><a href="~/Content/Buyshop/wp-content/uploads/2014/04/wclo_ad_1_1-23.jpg" class="cloud-zoom-gallery" title="wclo_ad_1_1 (23)" rel="prettyPhoto[product-gallery]" data-rel="useZoom: 'zoom1', smallImage: 'http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2014/04/wclo_ad_1_1-23.jpg'" alt="" width="62" height="62"><img src="~/Content/Buyshop/wp-content/uploads/2014/04/wclo_ad_1_1-23-63x63.jpg" /></a></li></li>
                                    </ul>

                                </div>
                            </div>

                            <div class="span4">
                                <div class="product-image"><a class="cloud-zoom" href="~/Content/Buyshop/wp-content/uploads/2014/04/wclo_ad_1_1-22.jpg" id="zoom1" data-rel="position: 'right', adjustX: 10, adjustY: 0" title="wclo_ad_1_1 (22)"><img alt="" src="~/Content/Buyshop/wp-content/uploads/2014/04/wclo_ad_1_1-22.jpg" /></a></div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="span7">
                    <div class="product-shop">
                        <div class="product_custom">
                            <h3>
                                PRODUCT
                                CUSTOM BLOCK
                            </h3>
                            <p>
                                You can add your content <br>
                                here, like promotions <br>
                                or some additional info
                            </p>
                            <div class="promo_box">
                                <div class="middle_icon_color pull-left"><i class="icon-tag-1"></i></div>
                                <span> <strong>Special offer: 1+1=3</strong> Get a gift!</span>
                            </div>
                            <div class="promo_box">
                                <div class="middle_icon_color pull-left"><i class="icon-credit-card"></i></div>
                                <span><strong>Free Reward Card </strong>Worth $10, $50, $100</span>
                            </div>
                            <div class="promo_box">
                                <div class="middle_icon_color pull-left"><i class="icon-users"></i></div>
                                <span><a href="#"><strong>Join to our Club</strong></a></span>
                            </div>
                            <div class="promo_box">
                                <div class="middle_icon_color pull-left"><i class="icon-truck"></i></div>
                                <span> <strong><a href="#">Free shipping</a></strong></span>
                            </div>
                        </div>
                        <div class="product_info_left">
                            <div class="product-name"><h1>A.L.C &#8211; Gerry Dress</h1></div><div itemprop="productID" class="sku_wrapper">SKU: <span class="sku"><b>13</b></span></div><div class="short-description">
                                <p>Silver, metallic-blue and metallic-lavender silk-blend jacquard, graphic pattern, pleated ruffle along collar, long sleeves with button-fastening cuffs, buckle-fastening silver skinny belt, large pleated rosettes at hips, pleated ruffle around back, vent at back hem, fully lined.</p>
                            </div>
                            <div class="price-box" itemprop="offers" itemscope itemtype="http://schema.org/Offer">

                                <span class="amount">&pound;260.00</span>
                                <meta itemprop="price" content="260" />
                                <meta itemprop="priceCurrency" content="GBP" />
                                <link itemprop="availability" href="http://schema.org/InStock" />

                            </div>
                            <p class="stock in-stock">999967 in stock</p>


                            <div class="add-to-cart">
                                <form class="cart" id="form-add_to_cart" method="post" enctype='multipart/form-data'>



                                    <div class="qty">
                                        <label for="qty">Qty:</label>
                                        <input type="number" name="quantity" maxlength="12" value="1" class="input-text qty" id="qty" min="1" max="999967" name="quantity" value="1" title="Qty">
                                    </div>			<button type="submit" class="button btn-cart"><i class="icon-basket"></i>Add to cart</button>

                                    <input type="hidden" name="add-to-cart" value="78" />


                                </form>

                            </div>
                            <div class="add-to-links"><ul><li class="yith-wcwl-add-to-wishlist"><a class="small_icon_color" href="index58ea.html?product=a-l-c-gerry-dress&amp;add_to_wishlist=78"><i class="icon-heart"></i></a><a href="index58ea.html?product=a-l-c-gerry-dress&amp;add_to_wishlist=78" data-product-id="78" data-product-type="simple" class="wft_add_to_wishlist">Add to Wishlist</a><img src="wp-admin/images/wpspin_light.gif" class="ajax-loading" id="add-items-ajax-loading" alt="" width="16" height="16" style="visibility:hidden" /></li></ul></div><div class="clear"></div>
                            <div class="socialsplugins_wrapper">
                                <div class="facebook_button">
                                    <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fdemo.ethemeuk.com%2Fbuyshop%2Fwoocommerce%2Fdemo%2F%3Fproduct%3Da-l-c-gerry-dress&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=true&amp;share=false&amp;height=21&amp;appId=609838709082531" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px;" allowTransparency="true"></iframe>
                                </div>
                                <div class="twitter_button">
                                    <iframe scrolling="no" frameborder="0" allowtransparency="true" src="http://platform.twitter.com/widgets/tweet_button.1379634856.html#_=1379949792265&amp;count=horizontal&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=http%3A%2F%2Fdemo.ethemeuk.com%2Fbuyshop%2Fwoocommerce%2Fdemo%2F%3Fproduct%3Da-l-c-gerry-dress&amp;text=A.L.C%20%26%238211%3B%20Gerry%20Dress&amp;url=http%3A%2F%2Fdemo.ethemeuk.com%2Fbuyshop%2Fwoocommerce%2Fdemo%2F%3Fproduct%3Da-l-c-gerry-dress&amp;via=http://demo.ethemeuk.com/buyshop/woocommerce/demo" class="twitter-share-button twitter-count-horizontal" style="width: 109px; height: 20px;" title="Twitter Tweet Button" data-twttr-rendered="true"></iframe>
                                    <script src="../../../../platform.twitter.com/widgets.js" type="text/javascript"></script>
                                </div>
                                <div class="pinit_button">

                                    &nbsp;&nbsp;<a count-layout="Horizontal" class="pin-it-button" href="http://pinterest.com/pin/create/button/">
                                        <img alt="Pin it" src="../../../../assets.pinterest.com/images/PinExt.png">
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div><!-- .span7 -->

                <div class="clear"></div>





                <div class="span12">
                    <ul id="myTab" class="nav-tabs">


                        <li class="active" data-tab="description">
                            <a href="#tabdescription">Description</a>
                        </li>


                        <li class="" data-tab="reviews">
                            <a href="#tabreviews">Reviews (0)</a>
                        </li>

                    </ul>

                    <div class="tab-content" id="tab_content">

                        <div id="tabdescription" class="tab-pane active">

                            <h2>Product Description</h2>

                            <p>Silver, metallic-blue and metallic-lavender silk-blend jacquard, graphic pattern, pleated ruffle along collar, long sleeves with button-fastening cuffs, buckle-fastening silver skinny belt, large pleated rosettes at hips, pleated ruffle around back, vent at back hem, fully lined. Concealed button fastenings through front. 58% silk, 37% metal, 5% polyester; lining: 92% polyester, 8% elastane. Dry clean. Zip and hook fastening at back. 100% silk. Specialist clean.</p>
                        </div>
                        <div id="tabreviews" class="tab-pane ">
                            <div id="reviews">
                                <div id="comments"><h2>Reviews</h2><p class="noreviews">There are no reviews yet, would you like to <a href="#review_form" class="inline show_review_form">submit yours</a>?</p></div><div id="review_form_wrapper">
                                    <div id="review_form">
                                        <input type="hidden" id="1" name="1" value="20085a2f62" />						<div id="respond" class="comment-respond">
                                            <h3 id="reply-title" class="comment-reply-title">Be the first to review &ldquo;A.L.C - Gerry Dress&rdquo; <small><a rel="nofollow" id="cancel-comment-reply-link" href="indexb436.html?product=a-l-c-gerry-dress#respond" style="display:none;">Cancel reply</a></small></h3>
                                            <form action="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-comments-post.php" method="post" id="commentform" class="comment-form">

                                                <!--
                                                    wsl_render_auth_widget
                                                    WordPress Social Login 2.2.3.
                                                    http://wordpress.org/plugins/wordpress-social-login/
                                                -->

                                                <style type="text/css">
                                                    #wp-social-login-connect-with {
                                                        font-weight: bold;
                                                    }

                                                    #wp-social-login-connect-options {
                                                        padding: 10px;
                                                    }

                                                        #wp-social-login-connect-options a {
                                                            text-decoration: none;
                                                        }

                                                        #wp-social-login-connect-options img {
                                                            border: 0 none;
                                                        }

                                                    .wsl_connect_with_provider {
                                                    }
                                                </style>

                                                <div class="wp-social-login-widget">

                                                    <div class="wp-social-login-connect-with">Connect with:</div>

                                                    <div class="wp-social-login-provider-list">

                                                        <a rel="nofollow" href="wp-login07be.html?action=wordpress_social_authenticate&amp;mode=login&amp;provider=Facebook&amp;redirect_to=http%3A%2F%2Fdemo.ethemeuk.com%2Fbuyshop%2Fwoocommerce%2Fdemo%2F%3Fproduct%3Da-l-c-gerry-dress" title="Connect with Facebook" class="wp-social-login-provider wp-social-login-provider-facebook" data-provider="Facebook">
                                                            <img alt="Facebook" title="Connect with Facebook" src="~/Content/Buyshop/wp-content/plugins/wordpress-social-login/assets/img/32x32/wpzoom/facebook.png" />
                                                        </a>

                                                        <a rel="nofollow" href="wp-logine3d5.html?action=wordpress_social_authenticate&amp;mode=login&amp;provider=Twitter&amp;redirect_to=http%3A%2F%2Fdemo.ethemeuk.com%2Fbuyshop%2Fwoocommerce%2Fdemo%2F%3Fproduct%3Da-l-c-gerry-dress" title="Connect with Twitter" class="wp-social-login-provider wp-social-login-provider-twitter" data-provider="Twitter">
                                                            <img alt="Twitter" title="Connect with Twitter" src="~/Content/Buyshop/wp-content/plugins/wordpress-social-login/assets/img/32x32/wpzoom/twitter.png" />
                                                        </a>

                                                    </div>

                                                    <div class="wp-social-login-widget-clearing"></div>

                                                </div>

                                                <!-- wsl_render_auth_widget -->

                                                <div class="row-fluid">
                                                    <p class="comment-form-author"><label for="author">Name</label> <span class="required">*</span><input id="author" name="author" type="text" value="" size="30" aria-required="true" /></p>
                                                    <p class="comment-form-email"><label for="email">Email</label> <span class="required">*</span><input id="email" name="email" type="text" value="" size="30" aria-required="true" /></p>
                                                </div>												<p class="comment-form-rating">
                                                    <label for="rating">Rating</label><select name="rating" id="rating">
                                                        <option value="">Rate&hellip;</option>
                                                        <option value="5">Perfect</option>
                                                        <option value="4">Good</option>
                                                        <option value="3">Average</option>
                                                        <option value="2">Not that bad</option>
                                                        <option value="1">Very Poor</option>
                                                    </select>
                                                </p><p class="comment-form-comment"><label for="comment">Your Review</label><textarea id="comment" name="comment" cols="45" rows="8" aria-required="true"></textarea></p><input type="hidden" id="1" name="1" value="20085a2f62" />
                                                <p class="form-submit">
                                                    <input name="submit" type="submit" id="submit" class="submit" value="Submit Review" /> <input type='hidden' name='comment_post_ID' value='78' id='comment_post_ID' />
                                                    <input type='hidden' name='comment_parent' id='comment_parent' value='0' />
                                                </p>
                                                <input type="hidden" name="icl_comment_language" value="en" />


                                            </form>
                                        </div><!-- #respond -->
                                    </div>
                                </div><div class="clear"></div>
                            </div>
                        </div>
                    </div>
                </div>




                <div class="related products span12">

                    <h2>Related Products</h2>

                    <div class="carousel es-carousel-wrapper style0">
                        <div class="es-carousel">
                            <div class="row ">
                                <div class="product_outer carousel_items">



                                    <div class="span3 product carousel_item post-835 type-product status-publish has-post-thumbnail product_cat-jeans product_cat-shirts product_cat-women featured shipping-taxable purchasable product-type-simple product-cat-jeans product-cat-shirts product-cat-women instock">


                                        <div class="product-image-wrapper onhover animate scale">
                                            <a href="index0728.html?product=tie-dye-silk-top"><img width="300" height="300" src="~/Content/Buyshop/wp-content/uploads/2014/04/wclo_ad_1_1-42-300x300.jpg" class="attachment-shop_single wp-post-image" alt="wclo_ad_1_1 (42)" /></a>
                                        </div>


                                        <div class="wrapper-hover">

                                            <div class="product-name">
                                                <a href="index0728.html?product=tie-dye-silk-top">
                                                    Tie-dye silk top
                                                </a>
                                            </div><a class="quickview img-circle hidden-phone hidden-small-desktop hidden-tablet" data-product-id="835">Quick View</a>
                                            <div class="wrapper">


                                                <div class="product-price"><span class="amount">&pound;290.00</span></div>


                                                <div class="product-tocart"><a href="indexcb38.html?product=a-l-c-gerry-dress&amp;add-to-cart=835" rel="nofollow" data-product_id="835" data-product_sku="13" data-wooclass="add_to_cart_button button product_type_simple" class="wft_add_to_cart_button product_type_simple"><i class="icon-basket"></i></a></div>
                                                <div class="clearfix"></div>
                                            </div>

                                        </div>


                                        <span class="sort-date hidden">1396621151</span>
                                        <span class="sort-price hidden">290</span>
                                        <span class="sort-product_name hidden">Tie-dye silk top</span>
                                        <span class="sort-rating hidden">0</span>

                                    </div>


                                    <div class="preview hidden-tablet hidden-phone " style="display: none;">
                                        <div class="wrapper">

                                            <div class="col-1">


                                                <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2014/04/wclo_ad_1_1-43.jpg" href="#">
                                                    <img class="thumb" alt="" src="~/Content/Buyshop/wp-content/uploads/2014/04/wclo_ad_1_1-43-63x63.jpg" />
                                                </a>


                                                <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2014/04/wclo_ad_1_1-42.jpg" href="#">
                                                    <img class="thumb" alt="" src="~/Content/Buyshop/wp-content/uploads/2014/04/wclo_ad_1_1-42-63x63.jpg" />
                                                </a>


                                            </div>
                                            <div class="col-2 with_media">
                                                <div class="big_image">
                                                    <a href="index0728.html?product=tie-dye-silk-top">

                                                        <img width="300" height="300" src="~/Content/Buyshop/wp-content/uploads/2014/04/wclo_ad_1_1-42-300x300.jpg" class="attachment-shop_single wp-post-image" alt="wclo_ad_1_1 (42)" />
                                                    </a>
                                                </div>

                                                <div class="wrapper-hover">

                                                    <div class="product-name">
                                                        <a href="index0728.html?product=tie-dye-silk-top">
                                                            Tie-dye silk top
                                                        </a>
                                                    </div><a class="quickview img-circle hidden-phone hidden-small-desktop hidden-tablet" data-product-id="835">Quick View</a>
                                                    <div class="wrapper">


                                                        <div class="product-price"><span class="amount">&pound;290.00</span></div>


                                                        <div class="product-tocart"><a href="indexcb38.html?product=a-l-c-gerry-dress&amp;add-to-cart=835" rel="nofollow" data-product_id="835" data-product_sku="13" data-wooclass="add_to_cart_button button product_type_simple" class="wft_add_to_cart_button product_type_simple"><i class="icon-basket"></i></a></div>

                                                    </div>
                                                    <div class="clearfix"></div>

                                                    <div class="product-link">
                                                        <a class="wft_add_to_wishlist" href="index18e0.html?product=a-l-c-gerry-dress&amp;add_to_wishlist=835" data-product-id="835" data-product-type="simple">Add to Wishlist</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="span3 product carousel_item post-723 type-product status-publish has-post-thumbnail product_cat-club-dresses product_cat-dresses product_cat-women product_tag-dress product_tag-sexy product_tag-style shipping-taxable purchasable product-type-simple product-cat-club-dresses product-cat-dresses product-cat-women product-tag-dress product-tag-sexy product-tag-style instock">


                                        <div class="product-image-wrapper onhover animate scale">
                                            <a href="index8017.html?product=rose-print-bandage-dress"><img width="300" height="300" src="~/Content/Buyshop/wp-content/uploads/2013/12/woclo_01_1-55-300x300.jpg" class="attachment-shop_single wp-post-image" alt="woclo_01_1 (55)" /></a>
                                        </div>


                                        <div class="wrapper-hover">

                                            <div class="product-name">
                                                <a href="index8017.html?product=rose-print-bandage-dress">
                                                    Rose-print bandage dress
                                                </a>
                                            </div><a class="quickview img-circle hidden-phone hidden-small-desktop hidden-tablet" data-product-id="723">Quick View</a>
                                            <div class="wrapper">


                                                <div class="product-price"><span class="amount">&pound;350.00</span></div>


                                                <div class="product-tocart"><a href="indexce1a.html?product=a-l-c-gerry-dress&amp;add-to-cart=723" rel="nofollow" data-product_id="723" data-product_sku="1" data-wooclass="add_to_cart_button button product_type_simple" class="wft_add_to_cart_button product_type_simple"><i class="icon-basket"></i></a></div>
                                                <div class="clearfix"></div>
                                            </div>

                                        </div>


                                        <span class="sort-date hidden">1396618878</span>
                                        <span class="sort-price hidden">350</span>
                                        <span class="sort-product_name hidden">Rose-print bandage dress</span>
                                        <span class="sort-rating hidden">0</span>

                                    </div>


                                    <div class="preview hidden-tablet hidden-phone " style="display: none;">
                                        <div class="wrapper">

                                            <div class="col-1">


                                                <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2013/12/woclo_01_1-57.jpg" href="#">
                                                    <img class="thumb" alt="" src="~/Content/Buyshop/wp-content/uploads/2013/12/woclo_01_1-57-63x63.jpg" />
                                                </a>


                                                <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2013/12/woclo_01_1-56.jpg" href="#">
                                                    <img class="thumb" alt="" src="~/Content/Buyshop/wp-content/uploads/2013/12/woclo_01_1-56-63x63.jpg" />
                                                </a>


                                                <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2013/12/woclo_01_1-55.jpg" href="#">
                                                    <img class="thumb" alt="" src="~/Content/Buyshop/wp-content/uploads/2013/12/woclo_01_1-55-63x63.jpg" />
                                                </a>


                                            </div>
                                            <div class="col-2 with_media">
                                                <div class="big_image">
                                                    <a href="index8017.html?product=rose-print-bandage-dress">

                                                        <img width="300" height="300" src="~/Content/Buyshop/wp-content/uploads/2013/12/woclo_01_1-55-300x300.jpg" class="attachment-shop_single wp-post-image" alt="woclo_01_1 (55)" />
                                                    </a>
                                                </div>

                                                <div class="wrapper-hover">

                                                    <div class="product-name">
                                                        <a href="index8017.html?product=rose-print-bandage-dress">
                                                            Rose-print bandage dress
                                                        </a>
                                                    </div><a class="quickview img-circle hidden-phone hidden-small-desktop hidden-tablet" data-product-id="723">Quick View</a>
                                                    <div class="wrapper">


                                                        <div class="product-price"><span class="amount">&pound;350.00</span></div>


                                                        <div class="product-tocart"><a href="indexce1a.html?product=a-l-c-gerry-dress&amp;add-to-cart=723" rel="nofollow" data-product_id="723" data-product_sku="1" data-wooclass="add_to_cart_button button product_type_simple" class="wft_add_to_cart_button product_type_simple"><i class="icon-basket"></i></a></div>

                                                    </div>
                                                    <div class="clearfix"></div>

                                                    <div class="product-link">
                                                        <a class="wft_add_to_wishlist" href="index8968.html?product=a-l-c-gerry-dress&amp;add_to_wishlist=723" data-product-id="723" data-product-type="simple">Add to Wishlist</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="span3 product carousel_item post-722 type-product status-publish has-post-thumbnail product_cat-club-dresses product_cat-dresses product_cat-women product_tag-dress product_tag-sexy product_tag-silk product_tag-strapless sale featured shipping-taxable purchasable product-type-simple product-cat-club-dresses product-cat-dresses product-cat-women product-tag-dress product-tag-sexy product-tag-silk product-tag-strapless instock">


                                        <div class="product-image-wrapper onhover animate scale">
                                            <div class="sale_discount img-rounded">-16%</div><div class="label_sale_top_right">Sale!</div>		<a href="indexe99b.html?product=petites-mink-twill-jacket"><img width="300" height="300" src="~/Content/Buyshop/wp-content/uploads/2013/12/woclo_01_1-60-300x300.jpg" class="attachment-shop_single wp-post-image" alt="woclo_01_1 (60)" /></a>
                                        </div>


                                        <div class="wrapper-hover">

                                            <div class="product-name">
                                                <a href="indexe99b.html?product=petites-mink-twill-jacket">
                                                    Petites Mink Twill Jacket
                                                </a>
                                            </div><a class="quickview img-circle hidden-phone hidden-small-desktop hidden-tablet" data-product-id="722">Quick View</a>
                                            <div class="wrapper">


                                                <div class="product-price"><del><span class="amount">&pound;120.00</span></del> <ins><span class="amount">&pound;100.00</span></ins></div>


                                                <div class="product-tocart"><a href="indexb6d1.html?product=a-l-c-gerry-dress&amp;add-to-cart=722" rel="nofollow" data-product_id="722" data-product_sku="2" data-wooclass="add_to_cart_button button product_type_simple" class="wft_add_to_cart_button product_type_simple"><i class="icon-basket"></i></a></div>
                                                <div class="clearfix"></div>
                                            </div>

                                        </div>


                                        <span class="sort-date hidden">1396618772</span>
                                        <span class="sort-price hidden">100</span>
                                        <span class="sort-product_name hidden">Petites Mink Twill Jacket</span>
                                        <span class="sort-rating hidden">0</span>

                                    </div>


                                    <div class="preview hidden-tablet hidden-phone " style="display: none;">
                                        <div class="wrapper">

                                            <div class="col-1">


                                                <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2013/12/woclo_01_1-61.jpg" href="#">
                                                    <img class="thumb" alt="" src="~/Content/Buyshop/wp-content/uploads/2013/12/woclo_01_1-61-63x63.jpg" />
                                                </a>


                                                <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2013/12/woclo_01_1-60.jpg" href="#">
                                                    <img class="thumb" alt="" src="~/Content/Buyshop/wp-content/uploads/2013/12/woclo_01_1-60-63x63.jpg" />
                                                </a>


                                                <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2013/12/woclo_01_1-59.jpg" href="#">
                                                    <img class="thumb" alt="" src="~/Content/Buyshop/wp-content/uploads/2013/12/woclo_01_1-59-63x63.jpg" />
                                                </a>


                                            </div>
                                            <div class="col-2 with_media">
                                                <div class="big_image">
                                                    <div class="sale_discount img-rounded">-16%</div><div class="label_sale_top_right">Sale!</div>				<a href="indexe99b.html?product=petites-mink-twill-jacket">

                                                        <img width="300" height="300" src="~/Content/Buyshop/wp-content/uploads/2013/12/woclo_01_1-60-300x300.jpg" class="attachment-shop_single wp-post-image" alt="woclo_01_1 (60)" />
                                                    </a>
                                                </div>

                                                <div class="wrapper-hover">

                                                    <div class="product-name">
                                                        <a href="indexe99b.html?product=petites-mink-twill-jacket">
                                                            Petites Mink Twill Jacket
                                                        </a>
                                                    </div><a class="quickview img-circle hidden-phone hidden-small-desktop hidden-tablet" data-product-id="722">Quick View</a>
                                                    <div class="wrapper">


                                                        <div class="product-price"><del><span class="amount">&pound;120.00</span></del> <ins><span class="amount">&pound;100.00</span></ins></div>


                                                        <div class="product-tocart"><a href="indexb6d1.html?product=a-l-c-gerry-dress&amp;add-to-cart=722" rel="nofollow" data-product_id="722" data-product_sku="2" data-wooclass="add_to_cart_button button product_type_simple" class="wft_add_to_cart_button product_type_simple"><i class="icon-basket"></i></a></div>

                                                    </div>
                                                    <div class="clearfix"></div>

                                                    <div class="product-link">
                                                        <a class="wft_add_to_wishlist" href="indexe075.html?product=a-l-c-gerry-dress&amp;add_to_wishlist=722" data-product-id="722" data-product-type="simple">Add to Wishlist</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="span3 product carousel_item post-824 type-product status-publish has-post-thumbnail product_cat-coats product_cat-dresses product_cat-evening-dresses product_cat-women featured shipping-taxable purchasable product-type-simple product-cat-coats product-cat-dresses product-cat-evening-dresses product-cat-women instock">


                                        <div class="product-image-wrapper onhover animate scale">
                                            <a href="index8483.html?product=hand-embellished-pleated-crepe-and-satin-dress"><img width="300" height="300" src="~/Content/Buyshop/wp-content/uploads/2014/04/wclo_ad_1_1-58-300x300.jpg" class="attachment-shop_single wp-post-image" alt="wclo_ad_1_1 (58)" /></a>
                                        </div>


                                        <div class="wrapper-hover">

                                            <div class="product-name">
                                                <a href="index8483.html?product=hand-embellished-pleated-crepe-and-satin-dress">
                                                    Hand-embellished pleated crepe and satin dress
                                                </a>
                                            </div><a class="quickview img-circle hidden-phone hidden-small-desktop hidden-tablet" data-product-id="824">Quick View</a>
                                            <div class="wrapper">


                                                <div class="product-price"><span class="amount">&pound;1,400.00</span></div>


                                                <div class="product-tocart"><a href="index9755.html?product=a-l-c-gerry-dress&amp;add-to-cart=824" rel="nofollow" data-product_id="824" data-product_sku="9" data-wooclass="add_to_cart_button button product_type_simple" class="wft_add_to_cart_button product_type_simple"><i class="icon-basket"></i></a></div>
                                                <div class="clearfix"></div>
                                            </div>

                                        </div>


                                        <span class="sort-date hidden">1396619777</span>
                                        <span class="sort-price hidden">1400</span>
                                        <span class="sort-product_name hidden">Hand-embellished pleated crepe and satin dress</span>
                                        <span class="sort-rating hidden">0</span>

                                    </div>


                                    <div class="preview hidden-tablet hidden-phone " style="display: none;">
                                        <div class="wrapper">

                                            <div class="col-1">


                                                <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2014/04/wclo_ad_1_1-60.jpg" href="#">
                                                    <img class="thumb" alt="" src="~/Content/Buyshop/wp-content/uploads/2014/04/wclo_ad_1_1-60-63x63.jpg" />
                                                </a>


                                                <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2014/04/wclo_ad_1_1-59.jpg" href="#">
                                                    <img class="thumb" alt="" src="~/Content/Buyshop/wp-content/uploads/2014/04/wclo_ad_1_1-59-63x63.jpg" />
                                                </a>


                                                <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2014/04/wclo_ad_1_1-58.jpg" href="#">
                                                    <img class="thumb" alt="" src="~/Content/Buyshop/wp-content/uploads/2014/04/wclo_ad_1_1-58-63x63.jpg" />
                                                </a>


                                            </div>
                                            <div class="col-2 with_media">
                                                <div class="big_image">
                                                    <a href="index8483.html?product=hand-embellished-pleated-crepe-and-satin-dress">

                                                        <img width="300" height="300" src="~/Content/Buyshop/wp-content/uploads/2014/04/wclo_ad_1_1-58-300x300.jpg" class="attachment-shop_single wp-post-image" alt="wclo_ad_1_1 (58)" />
                                                    </a>
                                                </div>

                                                <div class="wrapper-hover">

                                                    <div class="product-name">
                                                        <a href="index8483.html?product=hand-embellished-pleated-crepe-and-satin-dress">
                                                            Hand-embellished pleated crepe and satin dress
                                                        </a>
                                                    </div><a class="quickview img-circle hidden-phone hidden-small-desktop hidden-tablet" data-product-id="824">Quick View</a>
                                                    <div class="wrapper">


                                                        <div class="product-price"><span class="amount">&pound;1,400.00</span></div>


                                                        <div class="product-tocart"><a href="index9755.html?product=a-l-c-gerry-dress&amp;add-to-cart=824" rel="nofollow" data-product_id="824" data-product_sku="9" data-wooclass="add_to_cart_button button product_type_simple" class="wft_add_to_cart_button product_type_simple"><i class="icon-basket"></i></a></div>

                                                    </div>
                                                    <div class="clearfix"></div>

                                                    <div class="product-link">
                                                        <a class="wft_add_to_wishlist" href="index162b.html?product=a-l-c-gerry-dress&amp;add_to_wishlist=824" data-product-id="824" data-product-type="simple">Add to Wishlist</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="span3 product carousel_item post-721 type-product status-publish has-post-thumbnail product_cat-club-dresses product_cat-dresses product_cat-women product_tag-dress product_tag-sexy product_tag-style sale shipping-taxable purchasable product-type-simple product-cat-club-dresses product-cat-dresses product-cat-women product-tag-dress product-tag-sexy product-tag-style instock">


                                        <div class="product-image-wrapper onhover animate scale">
                                            <div class="sale_discount img-rounded">-20%</div><div class="label_sale_top_right">Sale!</div>		<a href="index4442.html?product=contrasting-ruffle-cocktail"><img width="300" height="300" src="~/Content/Buyshop/wp-content/uploads/2013/12/woclo_01_1-70-300x300.jpg" class="attachment-shop_single wp-post-image" alt="woclo_01_1 (70)" /></a>
                                        </div>


                                        <div class="wrapper-hover">

                                            <div class="product-name">
                                                <a href="index4442.html?product=contrasting-ruffle-cocktail">
                                                    Contrasting Ruffle Cocktail
                                                </a>
                                            </div><a class="quickview img-circle hidden-phone hidden-small-desktop hidden-tablet" data-product-id="721">Quick View</a>
                                            <div class="wrapper">


                                                <div class="product-price"><del><span class="amount">&pound;175.00</span></del> <ins><span class="amount">&pound;140.00</span></ins></div>


                                                <div class="product-tocart"><a href="index73fd.html?product=a-l-c-gerry-dress&amp;add-to-cart=721" rel="nofollow" data-product_id="721" data-product_sku="1" data-wooclass="add_to_cart_button button product_type_simple" class="wft_add_to_cart_button product_type_simple"><i class="icon-basket"></i></a></div>
                                                <div class="clearfix"></div>
                                            </div>

                                        </div>


                                        <span class="sort-date hidden">1396618526</span>
                                        <span class="sort-price hidden">140</span>
                                        <span class="sort-product_name hidden">Contrasting Ruffle Cocktail</span>
                                        <span class="sort-rating hidden">0</span>

                                    </div>


                                    <div class="preview hidden-tablet hidden-phone " style="display: none;">
                                        <div class="wrapper">

                                            <div class="col-1">


                                                <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2013/12/woclo_01_1-72.jpg" href="#">
                                                    <img class="thumb" alt="" src="~/Content/Buyshop/wp-content/uploads/2013/12/woclo_01_1-72-63x63.jpg" />
                                                </a>


                                                <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2013/12/woclo_01_1-71.jpg" href="#">
                                                    <img class="thumb" alt="" src="~/Content/Buyshop/wp-content/uploads/2013/12/woclo_01_1-71-63x63.jpg" />
                                                </a>


                                                <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2013/12/woclo_01_1-70.jpg" href="#">
                                                    <img class="thumb" alt="" src="~/Content/Buyshop/wp-content/uploads/2013/12/woclo_01_1-70-63x63.jpg" />
                                                </a>


                                            </div>
                                            <div class="col-2 with_media">
                                                <div class="big_image">
                                                    <div class="sale_discount img-rounded">-20%</div><div class="label_sale_top_right">Sale!</div>				<a href="index4442.html?product=contrasting-ruffle-cocktail">

                                                        <img width="300" height="300" src="~/Content/Buyshop/wp-content/uploads/2013/12/woclo_01_1-70-300x300.jpg" class="attachment-shop_single wp-post-image" alt="woclo_01_1 (70)" />
                                                    </a>
                                                </div>

                                                <div class="wrapper-hover">

                                                    <div class="product-name">
                                                        <a href="index4442.html?product=contrasting-ruffle-cocktail">
                                                            Contrasting Ruffle Cocktail
                                                        </a>
                                                    </div><a class="quickview img-circle hidden-phone hidden-small-desktop hidden-tablet" data-product-id="721">Quick View</a>
                                                    <div class="wrapper">


                                                        <div class="product-price"><del><span class="amount">&pound;175.00</span></del> <ins><span class="amount">&pound;140.00</span></ins></div>


                                                        <div class="product-tocart"><a href="index73fd.html?product=a-l-c-gerry-dress&amp;add-to-cart=721" rel="nofollow" data-product_id="721" data-product_sku="1" data-wooclass="add_to_cart_button button product_type_simple" class="wft_add_to_cart_button product_type_simple"><i class="icon-basket"></i></a></div>

                                                    </div>
                                                    <div class="clearfix"></div>

                                                    <div class="product-link">
                                                        <a class="wft_add_to_wishlist" href="index5008.html?product=a-l-c-gerry-dress&amp;add_to_wishlist=721" data-product-id="721" data-product-type="simple">Add to Wishlist</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="span3 product carousel_item post-829 type-product status-publish has-post-thumbnail product_cat-dresses product_cat-jackets product_cat-prom-dresses product_cat-women featured shipping-taxable purchasable product-type-simple product-cat-dresses product-cat-jackets product-cat-prom-dresses product-cat-women instock">


                                        <div class="product-image-wrapper onhover animate scale">
                                            <a href="indexfdb7.html?product=laced-paneled-bandage-dress"><img width="300" height="300" src="~/Content/Buyshop/wp-content/uploads/2014/04/wclo_ad_1_1-15-300x300.jpg" class="attachment-shop_single wp-post-image" alt="wclo_ad_1_1 (15)" /></a>
                                        </div>


                                        <div class="wrapper-hover">

                                            <div class="product-name">
                                                <a href="indexfdb7.html?product=laced-paneled-bandage-dress">
                                                    Laced-paneled bandage dress
                                                </a>
                                            </div><a class="quickview img-circle hidden-phone hidden-small-desktop hidden-tablet" data-product-id="829">Quick View</a>
                                            <div class="wrapper">


                                                <div class="product-price"><span class="amount">&pound;2,300.00</span></div>


                                                <div class="product-tocart"><a href="index7f82.html?product=a-l-c-gerry-dress&amp;add-to-cart=829" rel="nofollow" data-product_id="829" data-product_sku="13" data-wooclass="add_to_cart_button button product_type_simple" class="wft_add_to_cart_button product_type_simple"><i class="icon-basket"></i></a></div>
                                                <div class="clearfix"></div>
                                            </div>

                                        </div>


                                        <span class="sort-date hidden">1396620433</span>
                                        <span class="sort-price hidden">2300</span>
                                        <span class="sort-product_name hidden">Laced-paneled bandage dress</span>
                                        <span class="sort-rating hidden">0</span>

                                    </div>


                                    <div class="preview hidden-tablet hidden-phone " style="display: none;">
                                        <div class="wrapper">

                                            <div class="col-1">


                                                <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2014/04/wclo_ad_1_1-16.jpg" href="#">
                                                    <img class="thumb" alt="" src="~/Content/Buyshop/wp-content/uploads/2014/04/wclo_ad_1_1-16-63x63.jpg" />
                                                </a>


                                                <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2014/04/wclo_ad_1_1-15.jpg" href="#">
                                                    <img class="thumb" alt="" src="~/Content/Buyshop/wp-content/uploads/2014/04/wclo_ad_1_1-15-63x63.jpg" />
                                                </a>


                                            </div>
                                            <div class="col-2 with_media">
                                                <div class="big_image">
                                                    <a href="indexfdb7.html?product=laced-paneled-bandage-dress">

                                                        <img width="300" height="300" src="~/Content/Buyshop/wp-content/uploads/2014/04/wclo_ad_1_1-15-300x300.jpg" class="attachment-shop_single wp-post-image" alt="wclo_ad_1_1 (15)" />
                                                    </a>
                                                </div>

                                                <div class="wrapper-hover">

                                                    <div class="product-name">
                                                        <a href="indexfdb7.html?product=laced-paneled-bandage-dress">
                                                            Laced-paneled bandage dress
                                                        </a>
                                                    </div><a class="quickview img-circle hidden-phone hidden-small-desktop hidden-tablet" data-product-id="829">Quick View</a>
                                                    <div class="wrapper">


                                                        <div class="product-price"><span class="amount">&pound;2,300.00</span></div>


                                                        <div class="product-tocart"><a href="index7f82.html?product=a-l-c-gerry-dress&amp;add-to-cart=829" rel="nofollow" data-product_id="829" data-product_sku="13" data-wooclass="add_to_cart_button button product_type_simple" class="wft_add_to_cart_button product_type_simple"><i class="icon-basket"></i></a></div>

                                                    </div>
                                                    <div class="clearfix"></div>

                                                    <div class="product-link">
                                                        <a class="wft_add_to_wishlist" href="index6eb3.html?product=a-l-c-gerry-dress&amp;add_to_wishlist=829" data-product-id="829" data-product-type="simple">Add to Wishlist</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="span3 product carousel_item post-828 type-product status-publish has-post-thumbnail product_cat-dresses product_cat-jackets product_cat-prom-dresses product_cat-women featured shipping-taxable purchasable product-type-simple product-cat-dresses product-cat-jackets product-cat-prom-dresses product-cat-women instock">


                                        <div class="product-image-wrapper onhover animate scale">
                                            <a href="index9c5d.html?product=cozy-draped-silk-blend-cardigan"><img width="300" height="300" src="~/Content/Buyshop/wp-content/uploads/2013/12/woclo_01_1-71-300x300.jpg" class="attachment-shop_single wp-post-image" alt="woclo_01_1 (71)" /></a>
                                        </div>


                                        <div class="wrapper-hover">

                                            <div class="product-name">
                                                <a href="index9c5d.html?product=cozy-draped-silk-blend-cardigan">
                                                    Cozy draped silk-blend cardigan
                                                </a>
                                            </div><a class="quickview img-circle hidden-phone hidden-small-desktop hidden-tablet" data-product-id="828">Quick View</a>
                                            <div class="wrapper">


                                                <div class="product-price"><span class="amount">&pound;750.00</span></div>


                                                <div class="product-tocart"><a href="index2639.html?product=a-l-c-gerry-dress&amp;add-to-cart=828" rel="nofollow" data-product_id="828" data-product_sku="13" data-wooclass="add_to_cart_button button product_type_simple" class="wft_add_to_cart_button product_type_simple"><i class="icon-basket"></i></a></div>
                                                <div class="clearfix"></div>
                                            </div>

                                        </div>


                                        <span class="sort-date hidden">1396620325</span>
                                        <span class="sort-price hidden">750</span>
                                        <span class="sort-product_name hidden">Cozy draped silk-blend cardigan</span>
                                        <span class="sort-rating hidden">0</span>

                                    </div>


                                    <div class="preview hidden-tablet hidden-phone " style="display: none;">
                                        <div class="wrapper">

                                            <div class="col-1">


                                                <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2013/12/woclo_01_1-72.jpg" href="#">
                                                    <img class="thumb" alt="" src="~/Content/Buyshop/wp-content/uploads/2013/12/woclo_01_1-72-63x63.jpg" />
                                                </a>


                                                <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2013/12/woclo_01_1-71.jpg" href="#">
                                                    <img class="thumb" alt="" src="~/Content/Buyshop/wp-content/uploads/2013/12/woclo_01_1-71-63x63.jpg" />
                                                </a>


                                                <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2013/12/woclo_01_1-70.jpg" href="#">
                                                    <img class="thumb" alt="" src="~/Content/Buyshop/wp-content/uploads/2013/12/woclo_01_1-70-63x63.jpg" />
                                                </a>


                                            </div>
                                            <div class="col-2 with_media">
                                                <div class="big_image">
                                                    <a href="index9c5d.html?product=cozy-draped-silk-blend-cardigan">

                                                        <img width="300" height="300" src="~/Content/Buyshop/wp-content/uploads/2013/12/woclo_01_1-71-300x300.jpg" class="attachment-shop_single wp-post-image" alt="woclo_01_1 (71)" />
                                                    </a>
                                                </div>

                                                <div class="wrapper-hover">

                                                    <div class="product-name">
                                                        <a href="index9c5d.html?product=cozy-draped-silk-blend-cardigan">
                                                            Cozy draped silk-blend cardigan
                                                        </a>
                                                    </div><a class="quickview img-circle hidden-phone hidden-small-desktop hidden-tablet" data-product-id="828">Quick View</a>
                                                    <div class="wrapper">


                                                        <div class="product-price"><span class="amount">&pound;750.00</span></div>


                                                        <div class="product-tocart"><a href="index2639.html?product=a-l-c-gerry-dress&amp;add-to-cart=828" rel="nofollow" data-product_id="828" data-product_sku="13" data-wooclass="add_to_cart_button button product_type_simple" class="wft_add_to_cart_button product_type_simple"><i class="icon-basket"></i></a></div>

                                                    </div>
                                                    <div class="clearfix"></div>

                                                    <div class="product-link">
                                                        <a class="wft_add_to_wishlist" href="indexf36c.html?product=a-l-c-gerry-dress&amp;add_to_wishlist=828" data-product-id="828" data-product-type="simple">Add to Wishlist</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="span3 product carousel_item post-826 type-product status-publish has-post-thumbnail product_cat-coats product_cat-dresses product_cat-evening-dresses product_cat-women featured shipping-taxable purchasable product-type-simple product-cat-coats product-cat-dresses product-cat-evening-dresses product-cat-women instock">


                                        <div class="product-image-wrapper onhover animate scale">
                                            <a href="indexf59a.html?product=embellished-bandage-dress"><img width="300" height="300" src="~/Content/Buyshop/wp-content/uploads/2014/04/wclo_ad_1_1-34-300x300.jpg" class="attachment-shop_single wp-post-image" alt="wclo_ad_1_1 (34)" /></a>
                                        </div>


                                        <div class="wrapper-hover">

                                            <div class="product-name">
                                                <a href="indexf59a.html?product=embellished-bandage-dress">
                                                    Embellished bandage dress
                                                </a>
                                            </div><a class="quickview img-circle hidden-phone hidden-small-desktop hidden-tablet" data-product-id="826">Quick View</a>
                                            <div class="wrapper">


                                                <div class="product-price"><span class="amount">&pound;1,200.00</span></div>


                                                <div class="product-tocart"><a href="index016d.html?product=a-l-c-gerry-dress&amp;add-to-cart=826" rel="nofollow" data-product_id="826" data-product_sku="9" data-wooclass="add_to_cart_button button product_type_simple" class="wft_add_to_cart_button product_type_simple"><i class="icon-basket"></i></a></div>
                                                <div class="clearfix"></div>
                                            </div>

                                        </div>


                                        <span class="sort-date hidden">1396619930</span>
                                        <span class="sort-price hidden">1200</span>
                                        <span class="sort-product_name hidden">Embellished bandage dress</span>
                                        <span class="sort-rating hidden">0</span>

                                    </div>


                                    <div class="preview hidden-tablet hidden-phone " style="display: none;">
                                        <div class="wrapper">

                                            <div class="col-1">


                                                <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2014/04/wclo_ad_1_1-35.jpg" href="#">
                                                    <img class="thumb" alt="" src="~/Content/Buyshop/wp-content/uploads/2014/04/wclo_ad_1_1-35-63x63.jpg" />
                                                </a>


                                                <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2014/04/wclo_ad_1_1-34.jpg" href="#">
                                                    <img class="thumb" alt="" src="~/Content/Buyshop/wp-content/uploads/2014/04/wclo_ad_1_1-34-63x63.jpg" />
                                                </a>


                                            </div>
                                            <div class="col-2 with_media">
                                                <div class="big_image">
                                                    <a href="indexf59a.html?product=embellished-bandage-dress">

                                                        <img width="300" height="300" src="~/Content/Buyshop/wp-content/uploads/2014/04/wclo_ad_1_1-34-300x300.jpg" class="attachment-shop_single wp-post-image" alt="wclo_ad_1_1 (34)" />
                                                    </a>
                                                </div>

                                                <div class="wrapper-hover">

                                                    <div class="product-name">
                                                        <a href="indexf59a.html?product=embellished-bandage-dress">
                                                            Embellished bandage dress
                                                        </a>
                                                    </div><a class="quickview img-circle hidden-phone hidden-small-desktop hidden-tablet" data-product-id="826">Quick View</a>
                                                    <div class="wrapper">


                                                        <div class="product-price"><span class="amount">&pound;1,200.00</span></div>


                                                        <div class="product-tocart"><a href="index016d.html?product=a-l-c-gerry-dress&amp;add-to-cart=826" rel="nofollow" data-product_id="826" data-product_sku="9" data-wooclass="add_to_cart_button button product_type_simple" class="wft_add_to_cart_button product_type_simple"><i class="icon-basket"></i></a></div>

                                                    </div>
                                                    <div class="clearfix"></div>

                                                    <div class="product-link">
                                                        <a class="wft_add_to_wishlist" href="index3d01.html?product=a-l-c-gerry-dress&amp;add_to_wishlist=826" data-product-id="826" data-product-type="simple">Add to Wishlist</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="span3 product carousel_item post-831 type-product status-publish has-post-thumbnail product_cat-dresses product_cat-jackets product_cat-prom-dresses product_cat-women featured shipping-taxable purchasable product-type-simple product-cat-dresses product-cat-jackets product-cat-prom-dresses product-cat-women instock">


                                        <div class="product-image-wrapper onhover animate scale">
                                            <a href="index9102.html?product=beaded-silk-dress"><img width="300" height="300" src="~/Content/Buyshop/wp-content/uploads/2014/04/wclo_ad_1_1-20-300x300.jpg" class="attachment-shop_single wp-post-image" alt="wclo_ad_1_1 (20)" /></a>
                                        </div>


                                        <div class="wrapper-hover">

                                            <div class="product-name">
                                                <a href="index9102.html?product=beaded-silk-dress">
                                                    Beaded silk dress
                                                </a>
                                            </div><a class="quickview img-circle hidden-phone hidden-small-desktop hidden-tablet" data-product-id="831">Quick View</a>
                                            <div class="wrapper">


                                                <div class="product-price"><span class="amount">&pound;650.00</span></div>


                                                <div class="product-tocart"><a href="index093f.html?product=a-l-c-gerry-dress&amp;add-to-cart=831" rel="nofollow" data-product_id="831" data-product_sku="13" data-wooclass="add_to_cart_button button product_type_simple" class="wft_add_to_cart_button product_type_simple"><i class="icon-basket"></i></a></div>
                                                <div class="clearfix"></div>
                                            </div>

                                        </div>


                                        <span class="sort-date hidden">1396620601</span>
                                        <span class="sort-price hidden">650</span>
                                        <span class="sort-product_name hidden">Beaded silk dress</span>
                                        <span class="sort-rating hidden">0</span>

                                    </div>


                                    <div class="preview hidden-tablet hidden-phone " style="display: none;">
                                        <div class="wrapper">

                                            <div class="col-1">


                                                <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2014/04/wclo_ad_1_1-21.jpg" href="#">
                                                    <img class="thumb" alt="" src="~/Content/Buyshop/wp-content/uploads/2014/04/wclo_ad_1_1-21-63x63.jpg" />
                                                </a>


                                                <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2014/04/wclo_ad_1_1-20.jpg" href="#">
                                                    <img class="thumb" alt="" src="~/Content/Buyshop/wp-content/uploads/2014/04/wclo_ad_1_1-20-63x63.jpg" />
                                                </a>


                                            </div>
                                            <div class="col-2 with_media">
                                                <div class="big_image">
                                                    <a href="index9102.html?product=beaded-silk-dress">

                                                        <img width="300" height="300" src="~/Content/Buyshop/wp-content/uploads/2014/04/wclo_ad_1_1-20-300x300.jpg" class="attachment-shop_single wp-post-image" alt="wclo_ad_1_1 (20)" />
                                                    </a>
                                                </div>

                                                <div class="wrapper-hover">

                                                    <div class="product-name">
                                                        <a href="index9102.html?product=beaded-silk-dress">
                                                            Beaded silk dress
                                                        </a>
                                                    </div><a class="quickview img-circle hidden-phone hidden-small-desktop hidden-tablet" data-product-id="831">Quick View</a>
                                                    <div class="wrapper">


                                                        <div class="product-price"><span class="amount">&pound;650.00</span></div>


                                                        <div class="product-tocart"><a href="index093f.html?product=a-l-c-gerry-dress&amp;add-to-cart=831" rel="nofollow" data-product_id="831" data-product_sku="13" data-wooclass="add_to_cart_button button product_type_simple" class="wft_add_to_cart_button product_type_simple"><i class="icon-basket"></i></a></div>

                                                    </div>
                                                    <div class="clearfix"></div>

                                                    <div class="product-link">
                                                        <a class="wft_add_to_wishlist" href="index4ccd.html?product=a-l-c-gerry-dress&amp;add_to_wishlist=831" data-product-id="831" data-product-type="simple">Add to Wishlist</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="span3 product carousel_item post-125 type-product status-publish has-post-thumbnail product_cat-coats product_cat-dresses product_cat-evening-dresses product_cat-women featured shipping-taxable purchasable product-type-simple product-cat-coats product-cat-dresses product-cat-evening-dresses product-cat-women instock">


                                        <div class="product-image-wrapper onhover animate scale">
                                            <div class="label_video_bot_right">Video</div>		<a href="index17db.html?product=carven-gabardine-dress"><img width="300" height="300" src="~/Content/Buyshop/wp-content/uploads/2014/04/wclo_ad_1_1-24-300x300.jpg" class="attachment-shop_single wp-post-image" alt="wclo_ad_1_1 (24)" /></a>
                                        </div>


                                        <div class="wrapper-hover">

                                            <div class="product-name">
                                                <a href="index17db.html?product=carven-gabardine-dress">
                                                    Carven &#8211; Gabardine Dress
                                                </a>
                                            </div><a class="quickview img-circle hidden-phone hidden-small-desktop hidden-tablet" data-product-id="125">Quick View</a>
                                            <div class="wrapper">

                                                <div class="star-rating" title="Rated 4.00 out of 5"><span style="width:80%"><strong class="rating">4.00</strong> out of 5</span></div>
                                                <div class="product-price"><span class="amount">&pound;167.50</span></div>


                                                <div class="product-tocart"><a href="indexfb98.html?product=a-l-c-gerry-dress&amp;add-to-cart=125" rel="nofollow" data-product_id="125" data-product_sku="8" data-wooclass="add_to_cart_button button product_type_simple" class="wft_add_to_cart_button product_type_simple"><i class="icon-basket"></i></a></div>
                                                <div class="clearfix"></div>
                                            </div>

                                        </div>


                                        <span class="sort-date hidden">1386768102</span>
                                        <span class="sort-price hidden">167.50</span>
                                        <span class="sort-product_name hidden">Carven &#8211; Gabardine Dress</span>
                                        <span class="sort-rating hidden">4</span>

                                    </div>


                                    <div class="preview hidden-tablet hidden-phone " style="display: none;">
                                        <div class="wrapper">

                                            <div class="col-1">


                                                <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2014/04/wclo_ad_1_1-25.jpg" href="#">
                                                    <img class="thumb" alt="" src="~/Content/Buyshop/wp-content/uploads/2014/04/wclo_ad_1_1-25-63x63.jpg" />
                                                </a>


                                                <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2014/04/wclo_ad_1_1-24.jpg" href="#">
                                                    <img class="thumb" alt="" src="~/Content/Buyshop/wp-content/uploads/2014/04/wclo_ad_1_1-24-63x63.jpg" />
                                                </a>


                                            </div>
                                            <div class="col-2 with_media">
                                                <div class="big_image">
                                                    <div class="label_video_bot_right">Video</div>				<a href="index17db.html?product=carven-gabardine-dress">

                                                        <img width="300" height="300" src="~/Content/Buyshop/wp-content/uploads/2014/04/wclo_ad_1_1-24-300x300.jpg" class="attachment-shop_single wp-post-image" alt="wclo_ad_1_1 (24)" />
                                                    </a>
                                                </div>

                                                <div class="wrapper-hover">

                                                    <div class="product-name">
                                                        <a href="index17db.html?product=carven-gabardine-dress">
                                                            Carven &#8211; Gabardine Dress
                                                        </a>
                                                    </div><a class="quickview img-circle hidden-phone hidden-small-desktop hidden-tablet" data-product-id="125">Quick View</a>
                                                    <div class="wrapper">

                                                        <div class="star-rating" title="Rated 4.00 out of 5"><span style="width:80%"><strong class="rating">4.00</strong> out of 5</span></div>
                                                        <div class="product-price"><span class="amount">&pound;167.50</span></div>


                                                        <div class="product-tocart"><a href="indexfb98.html?product=a-l-c-gerry-dress&amp;add-to-cart=125" rel="nofollow" data-product_id="125" data-product_sku="8" data-wooclass="add_to_cart_button button product_type_simple" class="wft_add_to_cart_button product_type_simple"><i class="icon-basket"></i></a></div>

                                                    </div>
                                                    <div class="clearfix"></div>

                                                    <div class="product-link">
                                                        <a class="wft_add_to_wishlist" href="indexcb29.html?product=a-l-c-gerry-dress&amp;add_to_wishlist=125" data-product-id="125" data-product-type="simple">Add to Wishlist</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="span3 product carousel_item post-96 type-product status-publish has-post-thumbnail product_cat-lingerie product_cat-shorts product_cat-skirts product_cat-women sale featured shipping-taxable purchasable product-type-simple product-cat-lingerie product-cat-shorts product-cat-skirts product-cat-women instock">


                                        <div class="product-image-wrapper onhover animate scale">
                                            <div class="sale_discount img-rounded">-20%</div><div class="label_sale_top_right">Sale!</div>		<a href="index23b4.html?product=embroidered-lace-thong"><img width="300" height="300" src="~/Content/Buyshop/wp-content/uploads/2013/12/woclo_01_1-87-300x300.jpg" class="attachment-shop_single wp-post-image" alt="woclo_01_1 (87)" /></a>
                                        </div>


                                        <div class="wrapper-hover">

                                            <div class="product-name">
                                                <a href="index23b4.html?product=embroidered-lace-thong">
                                                    Embroidered lace thong
                                                </a>
                                            </div><a class="quickview img-circle hidden-phone hidden-small-desktop hidden-tablet" data-product-id="96">Quick View</a>
                                            <div class="wrapper">


                                                <div class="product-price"><del><span class="amount">&pound;16.75</span></del> <ins><span class="amount">&pound;13.40</span></ins></div>


                                                <div class="product-tocart"><a href="index27e8.html?product=a-l-c-gerry-dress&amp;add-to-cart=96" rel="nofollow" data-product_id="96" data-product_sku="27" data-wooclass="add_to_cart_button button product_type_simple" class="wft_add_to_cart_button product_type_simple"><i class="icon-basket"></i></a></div>
                                                <div class="clearfix"></div>
                                            </div>

                                        </div>


                                        <span class="sort-date hidden">1386767808</span>
                                        <span class="sort-price hidden">13.40</span>
                                        <span class="sort-product_name hidden">Embroidered lace thong</span>
                                        <span class="sort-rating hidden">0</span>

                                    </div>


                                    <div class="preview hidden-tablet hidden-phone " style="display: none;">
                                        <div class="wrapper">

                                            <div class="col-1">


                                                <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2013/12/wocload_01_1_44_.jpg" href="#">
                                                    <img class="thumb" alt="" src="~/Content/Buyshop/wp-content/uploads/2013/12/wocload_01_1_44_-63x84.jpg" />
                                                </a>


                                                <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2013/12/wocload_01_1_45_.jpg" href="#">
                                                    <img class="thumb" alt="" src="~/Content/Buyshop/wp-content/uploads/2013/12/wocload_01_1_45_-63x84.jpg" />
                                                </a>


                                                <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2013/12/wocload_01_1_42_.jpg" href="#">
                                                    <img class="thumb" alt="" src="~/Content/Buyshop/wp-content/uploads/2013/12/wocload_01_1_42_-63x84.jpg" />
                                                </a>


                                            </div>
                                            <div class="col-2 with_media">
                                                <div class="big_image">
                                                    <div class="sale_discount img-rounded">-20%</div><div class="label_sale_top_right">Sale!</div>				<a href="index23b4.html?product=embroidered-lace-thong">

                                                        <img width="300" height="300" src="~/Content/Buyshop/wp-content/uploads/2013/12/woclo_01_1-87-300x300.jpg" class="attachment-shop_single wp-post-image" alt="woclo_01_1 (87)" />
                                                    </a>
                                                </div>

                                                <div class="wrapper-hover">

                                                    <div class="product-name">
                                                        <a href="index23b4.html?product=embroidered-lace-thong">
                                                            Embroidered lace thong
                                                        </a>
                                                    </div><a class="quickview img-circle hidden-phone hidden-small-desktop hidden-tablet" data-product-id="96">Quick View</a>
                                                    <div class="wrapper">


                                                        <div class="product-price"><del><span class="amount">&pound;16.75</span></del> <ins><span class="amount">&pound;13.40</span></ins></div>


                                                        <div class="product-tocart"><a href="index27e8.html?product=a-l-c-gerry-dress&amp;add-to-cart=96" rel="nofollow" data-product_id="96" data-product_sku="27" data-wooclass="add_to_cart_button button product_type_simple" class="wft_add_to_cart_button product_type_simple"><i class="icon-basket"></i></a></div>

                                                    </div>
                                                    <div class="clearfix"></div>

                                                    <div class="product-link">
                                                        <a class="wft_add_to_wishlist" href="indexad3a.html?product=a-l-c-gerry-dress&amp;add_to_wishlist=96" data-product-id="96" data-product-type="simple">Add to Wishlist</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="span3 product carousel_item post-832 type-product status-publish has-post-thumbnail product_cat-club-dresses product_cat-jeans product_cat-shirts product_cat-women featured shipping-taxable purchasable product-type-simple product-cat-club-dresses product-cat-jeans product-cat-shirts product-cat-women instock">


                                        <div class="product-image-wrapper onhover animate scale">
                                            <a href="indexfa03.html?product=twill-crop-jacket"><img width="300" height="300" src="~/Content/Buyshop/wp-content/uploads/2013/12/woclo_01_1-73-300x300.jpg" class="attachment-shop_single wp-post-image" alt="woclo_01_1 (73)" /></a>
                                        </div>


                                        <div class="wrapper-hover">

                                            <div class="product-name">
                                                <a href="indexfa03.html?product=twill-crop-jacket">
                                                    Twill Crop Jacket
                                                </a>
                                            </div><a class="quickview img-circle hidden-phone hidden-small-desktop hidden-tablet" data-product-id="832">Quick View</a>
                                            <div class="wrapper">


                                                <div class="product-price"><span class="amount">&pound;40.00</span></div>


                                                <div class="product-tocart"><a href="index509a.html?product=a-l-c-gerry-dress&amp;add-to-cart=832" rel="nofollow" data-product_id="832" data-product_sku="13" data-wooclass="add_to_cart_button button product_type_simple" class="wft_add_to_cart_button product_type_simple"><i class="icon-basket"></i></a></div>
                                                <div class="clearfix"></div>
                                            </div>

                                        </div>


                                        <span class="sort-date hidden">1396620706</span>
                                        <span class="sort-price hidden">40</span>
                                        <span class="sort-product_name hidden">Twill Crop Jacket</span>
                                        <span class="sort-rating hidden">0</span>

                                    </div>


                                    <div class="preview hidden-tablet hidden-phone " style="display: none;">
                                        <div class="wrapper">

                                            <div class="col-1">


                                                <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2013/12/woclo_01_1-74.jpg" href="#">
                                                    <img class="thumb" alt="" src="~/Content/Buyshop/wp-content/uploads/2013/12/woclo_01_1-74-63x63.jpg" />
                                                </a>


                                                <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2013/12/woclo_01_1-73.jpg" href="#">
                                                    <img class="thumb" alt="" src="~/Content/Buyshop/wp-content/uploads/2013/12/woclo_01_1-73-63x63.jpg" />
                                                </a>


                                                <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo/wp-content/uploads/2013/12/woclo_01_1-75.jpg" href="#">
                                                    <img class="thumb" alt="" src="~/Content/Buyshop/wp-content/uploads/2013/12/woclo_01_1-75-63x63.jpg" />
                                                </a>


                                            </div>
                                            <div class="col-2 with_media">
                                                <div class="big_image">
                                                    <a href="indexfa03.html?product=twill-crop-jacket">

                                                        <img width="300" height="300" src="~/Content/Buyshop/wp-content/uploads/2013/12/woclo_01_1-73-300x300.jpg" class="attachment-shop_single wp-post-image" alt="woclo_01_1 (73)" />
                                                    </a>
                                                </div>

                                                <div class="wrapper-hover">

                                                    <div class="product-name">
                                                        <a href="indexfa03.html?product=twill-crop-jacket">
                                                            Twill Crop Jacket
                                                        </a>
                                                    </div><a class="quickview img-circle hidden-phone hidden-small-desktop hidden-tablet" data-product-id="832">Quick View</a>
                                                    <div class="wrapper">


                                                        <div class="product-price"><span class="amount">&pound;40.00</span></div>


                                                        <div class="product-tocart"><a href="index509a.html?product=a-l-c-gerry-dress&amp;add-to-cart=832" rel="nofollow" data-product_id="832" data-product_sku="13" data-wooclass="add_to_cart_button button product_type_simple" class="wft_add_to_cart_button product_type_simple"><i class="icon-basket"></i></a></div>

                                                    </div>
                                                    <div class="clearfix"></div>

                                                    <div class="product-link">
                                                        <a class="wft_add_to_wishlist" href="index7655.html?product=a-l-c-gerry-dress&amp;add_to_wishlist=832" data-product-id="832" data-product-type="simple">Add to Wishlist</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                </div>


                <meta itemprop="url" content="indexb436.html?product=a-l-c-gerry-dress" />

            </div> <!-- .row -->
        </div><!-- #product-78 -->


    </div>
</section>

<link rel='stylesheet' id='cloud-zoom-css' href='~/Content/Buyshop/wp-content/themes/buyshop/css/cloud-zoom7350.css?ver=4.2.9' type='text/css' media='all' />
<script type='text/javascript' src='~/Content/Buyshop/wp-content/themes/buyshop/js/cloud-zoom.1.0.27350.js?ver=4.2.9'></script>

