
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

<style>
    div{
        display:block;
    }
    #bestProduct{
        max-width:700px;
        margin:auto;
        height:80%;
        position:relative;
        padding:0 10px 10px 10px;
        box-sizing:border-box;
        transition:border-color,box-shadow .3s ease;
        overflow:hidden;
        margin-top:20px;
        border-radius:5px;
        border:1px solid #c6c4c4;
    }

    #bestProduct:hover{
        -webkit-box-shadow: 0px 0px 5px 0px rgba(157,59,198,1);
        -moz-box-shadow: 0px 0px 5px 0px rgba(157,59,198,1);
        box-shadow: 0px 0px 5px 0px rgba(157,59,198,1);
    }

    #salePercent{
        top:-1px;
        left:15px;
        position:absolute;
        text-align:center;
        border-bottom-right-radius:0;
        background-color:#ff9616;
        width:50px;
        height:35px;
        z-index:1;
        box-sizing:border-box;
    }

    #salePercent:after{
        content: ' ';
        position:absolute;
        left:0;
        right:0;
        width:0;
        height:0;
        bottom:-9px;
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-top: 9px solid #ff9616;
    }

    #dis-text{
        color:#fff;
        font-size:11px;
        display:block;
        text-align:center;
    }

    #dis-number{
        color:#fff;
        font-size:18px;
        display:block;
    }

    strike {
        text-decoration:line-through;
        font-size:medium;
    }

    #left{
        display:inline-block;
        float:left;
    }


    #deal-name{
        margin-bottom:10px;
        height:35px;
        overflow:hidden;
        color:#333;
        text-align:left;
        line-break:1.7rem;
    }

    #deal-price{
        overflow:hidden;
        margin-bottom:0;
        color:#999;
        display:block;
        text-align:left;
        box-sizing:border-box;
    }

    #right{
        display:inline-block;
        float:right;
    }
    
    #btn{
        position:absolute;
        bottom:5px;
        right:15px;
    }

    #btn_buy{
        padding: 2px 12px 2px 6px;
        border-radius:6px;
        font-size:small;
        min-width:108px;
        border:1px solid #9D3BC6;
        background-color:#ffffff;
        color: #9D3BC6;
        font-family:VNOswald;
    }
    #btn_buy:hover{
        background-color:#9D3BC6;
        color: #ffffff;
    }
</style>

<div class="container">
    <section id="content">
        <div id="bestProduct">
            <div id="salePercent">
                <div id="dis-text">Giảm</div>
                <div id="dis-number">25%</div>
            </div>
            <a></a>
            <div id="dealIMG">
                <a href="https://tiki.vn/oxford-advanced-learner-s-dictionary-paperback-p162972.html?ref=c316.c320.c147.c4587.c282.c4661.c4726.c4760.c2531.c4725.c5980.c5982.">
                    <img src="http://i.imgur.com/uA6urgV.jpg" alt="Oxford Advanced Learner's Dictionary (9th Edition)"/>
                </a>
            </div>
            <div id="dealInfo">
                <div id="left">
                    <div id="deal-name">
                        <a href="">Oxford Advanced Learner's Dictionary (9th Edition)</a>
                    </div>
                    <div id="deal-price">
                        <div style="margin-bottom:15px;">
                            <strike>476.000 ₫</strike>
                        </div>
                        <div style="margin-top:5px; margin-bottom:5px;">
                            <div style="color:#ed1c24; font-weight:700; font-size:x-large;">357.000 ₫</div>
                        </div>
                    </div>
                </div>
                <div id="right">
                    <div id="btn">
                        <button id="btn_buy">
                            <i class="fa fa-cart-plus" style="display:inline-block; height:25px; width:30px; vertical-align:middle; font-size:x-large;"></i>
                            <span class="text">Thêm vào giỏ hàng</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>