
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="content" class="shop">
    <div class="container top">
        <div class="row">
            <div class="span9">
                <h1 class="page-title"></h1>
                <div class="row">
                    <div class=" span12">
                        <div class="wpb_raw_code  ">
                            <div class="wpb_wrapper">
                                <div class="aligncenter">
                                    <div class="font-404" style="font-family:VNOswald">Đã có lỗi</div>
                                    <br>
                                    <br>
                                    <h4 class="noupper" style="font-family:VNOswald"><strong>Trang bạn tìm kiếm hiện tại không thể hiển thị. Chúng tôi sẽ khắc phục trong thời gian sớm nhất</strong></h4>
                                    <p style="font-family:VNOswald">
                                        &gt;   Hãy chắc rằng bạn đã gõ đúng địa chỉ.<br>
                                        &gt;   Link của bạn có thể đã không còn tồn tại.
                                        <br>
                                        <div><a href="javascript:history.back();" class="button btn-mini" style="font-family:VNOswald">Quay về</a>&nbsp;&nbsp;&nbsp;<a href="#" class="button btn-mini" style="font-family:VNOswald">Về trang chủ</a></div>
                                        <br><br>
                                        <div class="icon_coffee"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div><!-- end container -->
</section>