<div id="cusInfo" style="max-width:700px; margin:auto; text-align:center;">
    <a href="@SLIMCONFIG.AGENCY_ORDER_EXCEL_PATH\Danh sach cac san pham cua shop.xlsx">File danh sách các sản phẩm của shop</a>
    <br />
    
    <hr />
    @using (Html.BeginForm("SubmitAgency", "Agency", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return check()" }))
    {
        <div class="form-inline">
            <input type="text" placeholder="Tên khách hàng" id="name" name="name" style="margin:10px; height:30px; width:220px;" />
        </div>
        <div class="form-inline">
            <input type="text" placeholder="Số điện thoại" id="phone" name="phone" style="margin:10px; height:30px; width:220px;" />
        </div>
        <div class="form-inline">
            <input type="text" placeholder="Địa chỉ" id="address" name="address" style="margin:10px; height:30px; width:220px;" />
        </div>
        <div class="form-inline">
            <input type="text" placeholder="Email" id="email" name="email" style="margin:10px; height:30px; width:220px;" />
        </div>
        <div>
            <input class="form-control" type="file" id="fileExcel" name="fileExcel" />
        </div>
            <input type="submit" style="font-size:25px; padding:20px 55px 50px 55px; margin-top:10px;" value="Đăng kí" />
    }
</div>

